@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xuv9ci');
  src:  url('fonts/icomoon.eot?xuv9ci#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?xuv9ci') format('woff2'),
    url('fonts/icomoon.ttf?xuv9ci') format('truetype'),
    url('fonts/icomoon.woff?xuv9ci') format('woff'),
    url('fonts/icomoon.svg?xuv9ci#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {
  content: "\e945";
  color: #fff;
}
.icon-chat:before {
  content: "\e946";
  color: #fff;
}
.icon-add-friend2:before {
  content: "\e947";
  color: #fff;
}
.icon-type-1:before {
  content: "\e93f";
  color: #fff;
}
.icon-type-2:before {
  content: "\e940";
  color: #fff;
}
.icon-type-3:before {
  content: "\e941";
  color: #fff;
}
.icon-type-4:before {
  content: "\e942";
  color: #fff;
}
.icon-type-5:before {
  content: "\e943";
  color: #fff;
}
.icon-type-6:before {
  content: "\e944";
  color: #fff;
}
.icon-add-w:before {
  content: "\e93b";
  color: #fff;
}
.icon-check-w:before {
  content: "\e93c";
  color: #fff;
}
.icon-msg-w:before {
  content: "\e93d";
  color: #fff;
}
.icon-share-w:before {
  content: "\e93e";
  color: #fff;
}
.icon-menu-1:before {
  content: "\e935";
  color: #fff;
}
.icon-menu-2:before {
  content: "\e936";
  color: #fff;
}
.icon-menu-3:before {
  content: "\e937";
  color: #fff;
}
.icon-menu-4:before {
  content: "\e938";
  color: #fff;
}
.icon-menu-5:before {
  content: "\e939";
  color: #fff;
}
.icon-menu-6:before {
  content: "\e93a";
  color: #fff;
}
.icon-emoji:before {
  content: "\e934";
}
.icon-history:before {
  content: "\e930";
  color: #fff;
}
.icon-bookMark:before {
  content: "\e931";
  color: #fff;
}
.icon-upload:before {
  content: "\e932";
  color: #fff;
}
.icon-video1:before {
  content: "\e933";
  color: #fff;
}
.icon-check1:before {
  content: "\e92f";
}
.icon-arrow-left:before {
  content: "\e92c";
  color: #fff;
}
.icon-arrow-right:before {
  content: "\e92d";
  color: #fff;
}
.icon-arrow-up:before {
  content: "\e92e";
  color: #fff;
}
.icon-arrow-down:before {
  content: "\e92b";
  color: #fff;
}
.icon-lock1:before {
  content: "\e92a";
}
.icon-add-friend:before {
  content: "\e925";
  color: #fff;
}
.icon-blacklist:before {
  content: "\e926";
  color: #fff;
}
.icon-leave:before {
  content: "\e927";
  color: #fff;
}
.icon-sent-massage:before {
  content: "\e928";
  color: #fff;
}
.icon-tools:before {
  content: "\e929";
  color: #fff;
}
.icon-logo:before {
  content: "\e923";
}
.icon-next:before {
  content: "\e924";
}
.icon-collection2:before {
  content: "\e911";
  color: #f7fbf8;
}
.icon-general:before {
  content: "\e922";
  color: #f5d267;
}
.icon-back:before {
  content: "\e90c";
}
.icon-addmenu:before {
  content: "\e900";
  color: #fff;
}
.icon-check:before {
  content: "\e901";
  color: #ffd84f;
}
.icon-collection:before {
  content: "\e902";
  color: #f5d267;
}
.icon-community:before {
  content: "\e903";
  color: #fff;
}
.icon-del:before {
  content: "\e904";
  color: #fff;
}
.icon-down:before {
  content: "\e905";
  color: #f5d267;
}
.icon-gift:before {
  content: "\e906";
  color: #f5d267;
}
.icon-heart:before {
  content: "\e907";
  color: #f5d267;
}
.icon-main:before {
  content: "\e908";
  color: #fff;
}
.icon-hot:before {
  content: "\e909";
  color: #ffd84f;
}
.icon-img:before {
  content: "\e90a";
  color: #fff;
}
.icon-inputbg:before {
  content: "\e90b";
  color: #b0b6b1;
}
.icon-lock:before {
  content: "\e90d";
  color: #fed74f;
}
.icon-menu:before {
  content: "\e90e";
  color: #f8fcf9;
}
.icon-messge:before {
  content: "\e90f";
  color: #fff;
}
.icon-news:before {
  content: "\e910";
  color: #ffd84f;
}
.icon-person:before {
  content: "\e912";
  color: #fff;
}
.icon-search1:before {
  content: "\e913";
  color: #fff;
}
.icon-setting:before {
  content: "\e914";
  color: #fff;
}
.icon-share:before {
  content: "\e915";
  color: #f5d267;
}
.icon-uncheck:before {
  content: "\e916";
  color: #ffd84f;
}
.icon-unheart:before {
  content: "\e917";
  color: #fff;
}
.icon-unlock:before {
  content: "\e918";
  color: #fed74f;
}
.icon-video:before {
  content: "\e919";
  color: #fff;
}
.icon-fire .path1:before {
  content: "\e91a";
  color: rgb(243, 112, 90);
}
.icon-fire .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 209, 92);
}
.icon-search:before {
  content: "\e91c";
}
.icon-crown:before {
  content: "\e91d";
}
.icon-home:before {
  content: "\e91e";
}
.icon-favorite:before {
  content: "\e91f";
}
.icon-message:before {
  content: "\e920";
}
.icon-member:before {
  content: "\e921";
}
