.layui-layer-page {
    border-radius: 10px;
}
.layui-layer-content {
    text-align: center;
    min-width: 15rem;
}
.layui-layer-page .layui-layer-btn {
    padding: 6px 12px;
}
.layui-layer .layui-layer-btn [class*=layui-layer-btn] {
    margin: 0;
    background: none;
    border: none;
    color: #1E9FFF;
}

#layerUnlockBtnauto {
    min-width: 18rem;
}