.activityRecordGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerHeader {
        padding: 0.1875rem;
        font-size: 0.875rem;

        .img {
            margin-right: 0.625rem;
        }

        span {
            margin-right: 0.625rem;
        }

    }

    .content {
        padding: 0 0.9375rem 0.9375rem 0.9375rem;

        li {
            margin-top: 0.3125rem;
            border: 0.125rem solid #FFD965;
            padding: 1.25rem 0.3125rem 1.25rem 1.5625rem;

            p {
                margin: 0;
            }

            .title {
                font-size: 1rem;
            }

            .time {
                font-size: 0.75rem;
                margin-top: 0.1875rem;
            }

            .type {
                text-align: center;
                flex: 1 0 auto;
            }

            .number {
                margin-left: 0.3125rem;
            }
        }
    }

    .img {
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .red {
        width: 0.9375rem;
        height: 0.9375rem;
        background-image: url(../images/common/red.svg);
    }

    .blue {
        width: 0.9375rem;
        height: 0.9375rem;
        background-image: url(../images/common/blue.svg);
    }
}