.brick {
    $bg: #000;
    $gutter-general: 1px;
    border: 0;
    display: flex;
    flex-direction: column;
    .general {
        &-container {
            padding-top: $gutter-general;
            padding-bottom: $gutter-general;
        }
        &-row {
            margin-left: $gutter-general;
            margin-right: $gutter-general;
        }
        &-column {
            padding: $gutter-general;
        }
    }
    .nav-tabs {
        flex: 0 0 auto;
        background: $color-indigo;
        border: 0;
        .nav-link {
            background-color: transparent;
            border: 0;
            [class*="icon-"] {
                &::before {
                    color: white;
                }
            }
            &.active {
                border: 0;
                background-color: transparent;
                [class*="icon-"] {
                    &::before {
                        color: $color-orange;
                    }
                }
            }
        }
    }
    .tab-content {
        flex: 1 1 100%;
        background-color: $color-dark;
    }
}