$color_1: #fff;
$color_2: #999;
$color_3: #a0a0a0;
$font_family_1: icomoon, fontAwesome;
$chat_background_color_1: #231F20;
$chat_color_yellow: #FFD965;
$color_blue: #0af;
$color-dark: #000;

// .body {
//     background: #303030;
//     padding: 0.0625rem;
//     min-height: 100vh;
//     * {
//         &::-webkit-scrollbar {
//             width: 0.3125rem;
//             background: transparent;
//             position: absolute;
//             left: 0;
//         }
//         &::-webkit-scrollbar-thumb {
//             background-color: $background_color_1;
//             border-radius: 0.3125rem;
//         }
//         &:hover {
//             &::-webkit-scrollbar-thumb {
//                 background-color: $background_color_2;
//                 border-radius: 0.3125rem;
//             }
//         }
//     }
// }

.message-wrapper {
    position: relative;
    width: 100%;
    input {
        padding-right: 3rem !important;
    }
    .sent-btn {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding: 0 .75rem;
        z-index: 1;
    }
}

header {
    .chatHeader {
        height: 2.5rem;
    }
}
.chatbox-header {
    border-bottom: solid 0.25rem #FFD965;
    height: 5.938rem;
}

.chatbox {
    overflow: hidden;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: calc(100% - 5.62rem);
}

.chat-cont {
    position: relative;
    height: 100%;
    z-index: 1;
    box-shadow: 0 0.3125rem 0.625rem -0.25rem rgba(0,0,0,0.5);
    background: #fff;
    color: $color_2;
    background-color: $chat_background_color_1;
    display: flex;
    flex-direction: column;
    p.intro {
        font-size: 1.25rem;
        color: $color_1;
        text-align: center;
        padding: 0.9375rem;
        margin: 0 0 -3.125rem;
    }
    >div {
        padding: 0.625rem;
        color: #FFF;
    }
    >.chat-body {
        position: fixed;
        top: 95px;
        bottom: auto;
        left: 0;
        width: 100%;
        height: calc(100% - 5.938rem - 4.188rem);
    }
    >.chat-inp {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4.188rem;
    }
    .chat-body {
        display: flex;
        // height: 100%;
        // min-height: 21.875rem;
        // border-top: solid 0.25rem $chat_color_yellow;
        .chats-text-cont {
            width: 100%;
            height: 100%;
            padding: 0.3125rem;
            overflow-y: overlay;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
        }
        .chat-text {
            margin-bottom: 0.9375rem;
            text-align: right;
            display: flex;
            align-items: flex-start;
            max-width: 90%;
            img[data-emoji-type="font"] {
                height: 1.625rem;
                padding: 0.3125rem;
            }
            img[data-emoji-type="img"] {
                height: 5.3125rem;
                padding: 0.3125rem;
            }
            >img {
                flex: 0 0 3.097rem;
                width: 3.097rem;
                height: 3.097rem;
                margin-right: 1rem;
            }
            >.time {
                flex: 0 0 2.75rem;
                width: 2.75rem;
                font-size: .75rem;
                line-height: 1;
                align-self: flex-end;
            }
            >.text-buble {
                padding: 0.3125rem 0.9375rem;
                border-radius: 0.5rem;
                background: #FFF;
                color: #000;
                display: inline-block;
                max-width: calc(100% - 2.1875rem);
                word-wrap: break-word;
                position: relative;
                
                &::before {
                    content: '';
                    position: absolute;
                    left: auto;
                    right: -.8rem;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border: .8rem solid transparent;
                }
                
                &.unlock {
                    display: flex;
                    align-items: center;

                    .picture {
                        flex: 1 1 0%;
                        &.blur {
                            filter: blur(0.3125rem);
                        }
                    }
                    .text {
                        text-align: left;
                    }
                    .picture + .text {
                        margin-left: 0.5rem;
                        line-height: 1.3;
                    }
                }
            }
            &.text-left {
                >.text-buble {
                    background-color: $chat_color_yellow;
                    margin-left: 0.9375rem;
                    &::before {
                        left: -.8rem;
                        right: auto;
                        border-right-color: $chat_color_yellow;
                        border-left: 0;
                        border-top: 0;
                    }
                }
                >.time {
                    margin-left: 0.5rem;
                }
            }
            &.text-right {
                margin-left: auto;
                >.text-buble {
                    order: 1;
                    background-color: #FFF;
                    margin-right: 0.9375rem;
                    text-align: left;
                    &::before {
                        left: auto;
                        right: -.8rem;
                        border-left-color: #FFF;
                        border-right: 0;
                        border-top: 0;
                    }
                }
                >.time {
                    order: 0;
                    margin-left: auto;
                    margin-right: 0.5rem;
                }
            }
        }
    }
    .chat-header {
        display: flex;
    }
    >div.chat-inp {
        display: flex;
        padding: 0.625rem;
        // position: relative;
    }
    .tools-dashboard {
        display: none;
        padding: 0;
        position: absolute;
        top: 110%;
        margin: 0;
        box-shadow: 0 0.125rem 0.125rem 0 rgba(0,0,0,0.14), 0 0.1875rem 0.0625rem -0.125rem rgba(0,0,0,0.12), 0 0.0625rem 0.3125rem 0 rgba(0,0,0,0.2);
        background: #fff;
        list-style-type: none;
        color: $color_3;
        right: 0;
        z-index: 9999;
        bottom: 0;
        top: auto;
        .tools-dashboard-wrapper {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            // padding: 0;
            // height: 11rem;
            padding: 1.5rem 0;
            height: 12.5rem;
            overflow-y: overlay;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
            li {
                margin: 0.3125rem 0.625rem;
                cursor: pointer;
                max-width: calc(20% - 1.25rem);
                flex: 0 0 calc(20% - 1.25rem);
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
        &.presents-dashboard {
            .presents {
                .tools-item {
                    img {
                        width: 5rem;
                        height: 5rem;
                    }
                }
            }
        }
    }
    // .presents-dashboard {
    //     display: none;
    // }
    .chat-inp {
        // position: relative;
        .chat-input {
            flex: 1 1 auto;
            width: calc(100% - 3.606rem);
            position: relative;
            z-index: 999;
            &.round-style {
                border-radius: 1.5625rem;
                border: solid 0.125rem #FFF;
            }
            input {
                height: 100%;
                width: 100%;
                border: solid 0.0625rem transparent;
                padding: 0.3125rem;
                height: 2.1875rem;
                color: $color_3;
                box-shadow: 0 0.125rem 0.3125rem 0 rgba(0,0,0,.06), 0 0.125rem 0.625rem 0 rgba(0,0,0,.02);
                transition: all .25s;
                background: #FFF;
                overflow-y: overlay;
                -webkit-overflow-scrolling: touch;
                &:focus {
                    outline: none;
                }
            }
        }
        .emoji {
            display: inline-block;
            height: 2.1875rem;
            width: 2.1875rem;
            background: #fff;
            text-align: center;
            cursor: pointer;
            top: 0;
            left: 0.625rem;
            bottom: 0;
            margin: auto;
            &:before {
                content: '\e934';
                font-family: $font_family_1;
                line-height: 2.1875rem;
                // font-size: 1.25rem;
                font-size: 1.5rem;
                font-weight: normal;
                color: #000;
            }
        }
        .opts {
            background: transparent;
            top: 0;
            right: 0.625rem;
            height: 2.1875rem;
            bottom: 0;
            margin: auto;
            width: 2.1875rem;
            overflow: hidden;
            a {
                display: inline-block;
                height: 2.1875rem;
                width: 2.1875rem;
                position: relative;
                text-align: center;
                cursor: pointer;
                transition: all .25s;
                &:before {
                    content: '\e928';
                    font-family: $font_family_1;
                    line-height: 2.1875rem;
                    font-size: 1.25rem;
                    font-weight: normal;
                    color: #FFF;
                }
            }
            a.send {
                &:before {
                    content: '\e928';
                }
            }
            a.mic {
                &:before {
                    content: '\f130';
                }
            }
        }
        .opts-inside {
            position: absolute;
        }
        .chat-inp-tools {
            display: flex;
            align-items: center;
            flex: 0 0 auto;
            width: 2.8125rem;
            width: 3.606rem;
            margin-left: -0.625em;
            &-btn {
                position: relative;
                width: 1.603rem;
                height: 1.603rem;
                margin: .25rem 1rem;
                &:before,
                &:after{
                    content: "";
                    position: absolute;
                    background-color: white;
                    transition: transform 0.25s ease-out;
                    border-radius: 0.1875rem;
                }
                &:before{
                    top: 0;
                    left: 50%;
                    width: .482rem;
                    height: 100%;
                    margin-left: -.241rem;
                }
                &:after{
                    top: 50%;
                    left: 0;
                    width: 100%;
                    height: .482rem;
                    margin-top: -.241rem;
                }
            }
            &-wrapper {
                position: absolute;
                top: -100%;
                left: 0;
                pointer-events: none;
                opacity: 0;
                transition: all 1s ease-in-out;
                @for $i from 1 to 10 {
                    .chat-inp-tools-item:nth-child(#{$i}) { animation-delay: $i * 0.1s; }
                }
                .chat-inp-tools-item {
                    animation: fade-out-bottom 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
                    input {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }
                }
                &.open {
                    opacity: 1;
                    pointer-events: auto;
                    transition: pointer-events 1s ease-in-out;
                    .chat-inp-tools-item {
                        animation: fade-in-bottom .5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
                    }
                    @for $i from 1 to 10 {
                        .chat-inp-tools-item:nth-child(#{$i}) { animation-delay: $i * 0.1s; }
                    }
                }
            }
            &-group {
                display: flex;
                align-items: center;
            }
            &-item {
                margin: 0.3125rem;
                border: solid 0.0625rem #000;
                background: $chat_color_yellow;
                border-radius: 50%;
                width: 3.5rem;
                height: 3.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    max-width: calc(100% - 0.9375rem);
                    max-height: calc(100% - 0.9375rem);
                }
            }
        }
    }
    .input {
        height: 100%;
        width: 100%;
        border: solid 0.0625rem transparent;
        padding: 0.5rem 4rem 0.5rem 1.5rem;
        height: 2.667rem;
        line-height: 1.5;
        font-size: 1rem;
        color: #a0a0a0;
        transition: all .25s;
        background: transparent;
        overflow-y: overlay;
        -webkit-overflow-scrolling: touch;
        img {
            height: 1.5625rem;
            max-width: 100%;
            max-height: 100%;
        }
        br {
            display: none;
        }
        &:focus {
            outline: none;
        }
    }
    a {
        &:hover {
            outline: none;
            text-decoration: none;
        }
    }
}
.chat-header {
    .name {
        position: relative;
        line-height: 2.5rem;
        display: inline-block;
        flex: 2;
        position: relative;
        padding-left: 3.125rem;
        &:before {
            content: '';
            height: 2.5rem;
            width: 2.5rem;
            display: inline-block;
            background: #fff url(http://main.buildabazaar.com/img/shrd/html_widget_images/38/14/604/12a5a8d897be2_nobodym.original.jpg.999xx.jpg) center no-repeat / 100%;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    .menu {
        display: flex;
        position: relative;
        .burg-menu {
            ul.list {
                display: none;
                padding: 0;
                position: absolute;
                top: 110%;
                margin: 0;
                box-shadow: 0 0.125rem 0.125rem 0 rgba(0,0,0,0.14), 0 0.1875rem 0.0625rem -0.125rem rgba(0,0,0,0.12), 0 0.0625rem 0.3125rem 0 rgba(0,0,0,0.2);
                background: #fff;
                list-style-type: none;
                color: $color_3;
                right: 0;
                z-index: 9999;
                li {
                    padding: 0.625rem 1.5625rem;
                    white-space: nowrap;
                    border-bottom: solid 0.0625rem #eee;
                    cursor: pointer;
                    &:last-child {
                        border: none;
                    }
                    &:hover {
                        background: #eee;
                    }
                }
            }
        }
        .attach {
            display: inline-block;
            height: 2.5rem;
            width: 2.5rem;
            position: relative;
            text-align: center;
            cursor: pointer;
            margin-left: 0.625rem;
            overflow: hidden;
            input {
                opacity: 0;
                position: absolute;
                left: 0;
                width: 100%;
                top: 0;
                height: 100%;
                z-index: 1;
            }
            &:focus {
                background: rgba(255,255,255,.2);
            }
            &:active {
                background: rgba(255,255,255,.2);
            }
            &:before {
                content: '';
                font-family: $font_family_1;
                line-height: 2.5rem;
                font-size: 1.875rem;
                font-weight: normal;
                content: '\f0c6';
            }
        }
        .menu-ico {
            display: inline-block;
            height: 2.5rem;
            width: 2.5rem;
            position: relative;
            text-align: center;
            cursor: pointer;
            margin-left: 0.625em;
            overflow: hidden;
            &:focus {
                background: rgba(255,255,255,.2);
            }
            &:active {
                background: rgba(255,255,255,.2);
            }
            &:before {
                content: '';
                font-family: $font_family_1;
                line-height: 2.5rem;
                font-size: 1.875rem;
                font-weight: normal;
                content: '\f142';
            }
        }
    }
}
@keyframes fade-in-bottom {
    0% {
        transform: translateY(3.125rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.fade-in-bottom {
    animation: fade-in-bottom 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}
@keyframes fade-out-bottom {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(3.125rem);
        opacity: 0;
    }
}
.fade-out-bottom {
    animation: fade-out-bottom 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}
