.chatListsGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerContent {
        position: relative;
        padding: 1.25rem 1.875rem;
        padding-top: 0;
        .group {
            padding: 0;
        }

    }
}
