.community {

    .my {
        width: 1.5625rem;
        height: 1.5625rem;
        background: url(../images/common/my.svg) no-repeat center center;
        background-size: contain;
        position: absolute;
        right: 22%;
        top: 50%;
        transform: translateY(-50%);
    }

    .add {
        width: 1.5625rem;
        height: 1.5625rem;
        background: url(../images/common/add.svg) no-repeat center center;
        background-size: contain;
    }
}

.communityGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerHeader {
        width: 70%;
        margin: 0 auto;
        position: relative;
    }

    .innerContent {
        padding-top: 1.875rem;

        .menu {
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 0.375rem;
                background: $color-yellow;
            }

            li {
                text-align: center;
                font-size: 1.125rem;
                padding: 0.1875rem;
                list-style-type: none;

                a.active {
                    color: $color-yellow;
                }
            }


        }

        .group {
            padding: 1.25rem 0 0.625rem 0;
            color: $color-yellow;
            font-size: 0.875rem;

            .item {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                padding: 0.3125rem;

                .title {
                    padding: 0.125rem;
                }

                .avatar {
                    width: 7.5rem;
                    height: 9.375rem;
                    border-radius: 0.3125rem;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }

            .hotItem {
                position: relative;

                [class*="icon-"] {
                    content: '';
                    font-size: 1.25rem;
                    position: absolute;
                    top: -0.75rem;
                    left: 0.75rem;
                    color: $color-yellow;
                }
            }
        }

        .more {
            color: #FFF;
            margin-right: 0.9375rem;
        }

        .innerCommunity {
            padding: 1.25rem;

            .comminityLink {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 1.25rem 0;

                .avatar {
                    width: 3.125rem;
                    height: 3.125rem;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .name {
                    margin-left: 1.5625rem;
                }
            }
        }
    }
}