.communityIntroduction {
    .icon {
        position: absolute;
        top: 50%;
        left: 13%;
        transform: translateY(-50%);
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 1.25rem;
        background-image: url(../images/communityIntroduction/10.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .lock {
        width: 1.25rem;
        height: 1.25rem;
        position: absolute;
        top: 50%;
        right: 23%;
        transform: translateY(-50%);
    }

    .yes {
        background: url(../images/common/lock.svg) no-repeat center center;
        background-size: contain;
    }

    .no {
        background: url(../images/common/unlock.svg) no-repeat center center;
        background-size: contain;
    }
}

.communityIntroductionGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerHeader {
        font-size: 0.875rem;

        .banner {
            height: 8.75rem;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .attributes {
            text-align: center;
            padding: 0.1875rem;
        }

        button {
            display: block;
            width: 68%;
            border-radius: 0.3125rem;
            padding: 0.375rem;
            margin: 1.25rem auto;
            background: $color-yellow;
        }
    }

    .innerContent {
        width: 68%;
        margin: 0 auto;

        .title {
            font-size: 1.1875rem;
        }

        .content {
            font-size: 0.9375rem;
        }

        .dynamic {
            .content {
                padding: 1.25rem;

                li+li {
                    margin-top: 0.625rem;
                }
            }
        }

        .member {
            .content {
                padding: 0.9375rem 1.25rem;

                .avaGroup {
                    .avatar {
                        width: 2.8125rem;
                        height: 2.8125rem;
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .avatar:not(:first-child) {
                        margin-left: -0.9375rem;
                    }

                }

                .number {
                    flex: 0 0 auto;
                    margin-left: 0.9375rem;
                }

                .moderator {
                    margin-top: 0.3125rem;
                }
            }
        }

        .introduction {
            .content {
                padding: 0.625rem 0 0.625rem 1.25rem;
            }
        }
    }
}