@charset "UTF-8";

html,
body,
#main-wrapper {
    width: 100%;
    height: 100%;
    // position: fixed;
    // left: 0;
    // top: 0;
    overflow: hidden;
}

html {
    font-size: 100%;
    font-size: 3.9vw;
}

body {
    // overflow: hidden;
    font-family: $NotoSans;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

header {
    flex: 0 0 auto;
}

main {
    height: auto;
    flex: 1 1 0%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none;
}

footer {
    flex: 0 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

li {
    list-style-type: none;
}

a,
a:active,
a:hover {
    text-decoration: none !important;
    color: inherit;
}

*:active,
*:hover,
*:focus,
*:visited {
    outline: none !important;
}

[type=text] {
    color: #FFF;
}

img {
    max-width: 100%;
}

button,
input {
    border: none;
    background: transparent;
    outline: none;
}

.no-bg-button {
    background: none;
    border: 0;
}

.background-image-center {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.square {
    position: relative;

    &-box {
        display: block;
        padding-bottom: 100%;
    }
}

.form-inline {
    margin-bottom: 1rem;
}

.header-user {
    font-size: .75rem;

    &+ul {
        margin-top: 1rem;
    }

    .icon {
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 .25em;
        background: url(../images/common/10.jpg) no-repeat center center;
        background-size: cover;
    }
}

// 公開設定開關
.setBtn {
    display: inline-block;
    position: relative;
    width: 2.8125rem;
    flex: 0 0 2.8125rem;
    height: 1.25rem;
    margin: 0;
    background: url(../images/common/bntbg.svg) no-repeat center center;
    background-size: contain;
    background: #e6e6e6;
    border-radius: 1.25rem;
    border: solid 0.0625rem #999;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .4s;

        &::before {
            content: '';
            position: absolute;
            top: -0.0625rem;
            left: -0.0625rem;
            right: 0;
            bottom: 0;
            transition: .4s;
            width: 1.25rem;
            height: 1.25rem;
            // background: url(../images/common/btn.svg) no-repeat center center;
            background-size: contain;
            background: #999;
            border-radius: 50%;
            border: solid 0.0625rem #666;
        }
    }

    input:checked+.slider:before {
        // transform: translateX(1.625rem);
        background: $color-yellow;
        left: calc(100% - 1.25rem + 0.0625rem);
    }
}

// 搜尋框
.custom-search {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    background: $color-gray;
    border: solid 0.0625rem #FFF;
    border-radius: 1.25rem;
    overflow: hidden;

    .custom-search-input {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0 2.25rem 0 1rem;
        color: #FFF;
        background: transparent;
    }

    [type=submit],
    [class*="icon-"] {
        width: 2.1875rem;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0.0625rem;
        z-index: 1;
    }

    [type=submit] {
        padding: 0;
        background-color: $color-yellow;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: inset -3px -1px 2px #EDB137, inset -2px -1px 2px #E39B1D, inset 2px -1px 2px #EDB137, inset -2px 0px 2px #E39B1D;
    }

    [class*="icon-"] {
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
    }
}

// 選擇框
.select {
    position: relative;

    select {
        color: #FFF;
        padding: 0.0625rem 2.1875rem 0.0625rem 1.5625rem;
        appearance: none;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 10%;
        width: 0.9375rem;
        height: 0.9375rem;
        transform: translateY(-50%);
        background: url(../images/common/down.svg) no-repeat center center;
        background-size: contain;
        pointer-events: none;
    }
}

// 按鈕組
.btnGroup {
    width: 80%;
    margin: 0 auto;
    // position: absolute;
    // bottom: 1.875rem;
    // left: 50%;
    // transform: translateX(-50%);

    button,
    input,
    .cancel {
        padding: 0.625rem 1.875rem;
        border: 0.0625rem solid #FFF;
    }

    .confirm {
        background: $color-orange;
    }

    .cancel {
        color: #FFF;
        background: $color-indigo;
    }
}

// 上傳圖片組
.uploadImgGroup {
    position: relative;

    .uploadImg {
        border: 0.0625rem solid #FFF;
        background: $color-indigo;
        position: relative;

        .imgLabel {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 3.125rem;
            height: 3.125rem;
            background: url(../images/common/img.svg) no-repeat center center;
            background-size: contain;
        }
    }

    input {
        position: absolute;
        height: 100%;
        opacity: 0;
        z-index: 1;
    }
}

// 評分
.star {
    .img {
        background: url(../images/common/unstar.svg) no-repeat center center;
        background-size: contain;
    }

    .yes {
        background: url(../images/common/star.svg) no-repeat center center;
        background-size: contain;
    }

    .no {
        background: url(../images/common/unstar.svg) no-repeat center center;
        background-size: contain;
    }
}

.black {

    input,
    textarea,
    select {
        border: 0.0625rem solid #FFF;
        background: $color-indigo;
    }
    input,
    select {
        border-radius: 1.25rem;
    }
}

.swiper-pagination-bullets {
    .swiper-pagination-bullet {
        width: 0.375rem;
        height: 0.375rem;
        background-color: rgba(255, 255, 255, .6);

        &.swiper-pagination-bullet-active {
            background-color: rgba(255, 255, 255, 1);
        }
    }
}

.blur-wrapper {
    .blur-item {
        filter: blur(5px)
    }
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0.1875rem;
}

.layui-btn-normal {
    background-color: initial;
}

.hot {
    font-size: 0;

    p {
        position: relative;
        font-size: 1rem;
        // &::before {
        //     content: '';
        //     display: inline-block;
        //     width: 12px;
        //     height: 12px;
        //     background-image: url('https://image.flaticon.com/icons/svg/426/426833.svg');
        //     margin-right: 2px;
        // }
    }
}

// .layui-layer-content {
//     &+.layui-layer-setwin {

//         .layui-layer-close2 {
//             position: fixed;
//             top: 0;
//             right: 0;
//             left: auto;
//             bottom: auto;
//             background: #FFF;
//             width: 2.1875rem;
//             height: 2.1875rem;
//             background: url('../icons/game1-back.png') 18% 76% / cover no-repeat;
//             background-size: 43.75rem;
//             background-position: -7.25rem -2.875rem;
//             border: 0;
//         }

//     }
// }
$font-size: 1rem;
$line: 5;
$line-height: 1.3;
$ellipsis-height: calc(#{$font-size} * #{$line-height * #{$line}
}

);
$ellipsis-height-basic: calc(#{$font-size} * #{$line-height} * 1);
$ellipsis-bg: $color-dark;
$more-padding-top: calc(#{$font-size} * #{$line-height} - #{$font-size});

.ellipsis {
    overflow: hidden;
    position: relative;
    font-size: $font-size;
    height: $ellipsis-height;
    line-height: $line-height;

    &:before {
        content: "";
        float: left;
        width: 0.3125rem;
        height: $ellipsis-height;
    }

    &:after {
        content: "\02026 Read More";
        box-sizing: content-box;
        float: right;
        position: relative;
        bottom: #{$ellipsis-height-basic};
        left: 100%;
        width: 7em;
        margin-left: -7em;
        padding-right: 0.3125rem;
        text-align: right;
        background: linear-gradient(to right, rgba($ellipsis-bg, 0), $ellipsis-bg 15%, $ellipsis-bg);
    }

    &>*:first-child {
        float: right;
        width: 100%;
        margin-left: -0.3125rem;
    }

    i,
    &:after {
        font-style: normal;
        color: #ccc;
        font-size: 0.75rem;
        height: $ellipsis-height-basic;
        // line-height: $ellipsis-height-basic;
        padding-top: $more-padding-top;
    }

    i:before {
        content: "\02026 Read More";
        font-size: 0.75rem;
        color: #ccc;
    }

    a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-indent: -9999px;
    }
}