.communityClassGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerContent {
        padding: 0.9375rem;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 0.5rem;
            background: $color-yellow;
        }

        .editName {
            padding: 0.625rem;

            label {
                margin: 0;
            }

            input {
                margin-left: 0.9375rem;
                border: 0.0625rem solid #FFF;
                background: #B0B6B1;
                padding-left: 0.75rem;
                padding-right: 0.75rem;
            }
        }


        .group {
            height: 23.75rem;
            overflow: auto;
            padding: 0.625rem;

            li {
                position: relative;
                margin-bottom: 1.25rem;

                label {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .img {
                        width: 2.8125rem;
                        height: 2.8125rem;
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .title {
                        margin-left: 1.875rem;
                    }

                    input[type=checkbox] {
                        font-size: 0.875rem;
                        width: 0.9375rem;
                        height: 0.9375rem;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);

                    }

                    input[type=checkbox]:after {
                        position: absolute;
                        width: 0.9375rem;
                        height: 0.9375rem;
                        top: 0;
                        left: 0;
                        content: " ";
                        color: black;
                        display: inline-block;
                        visibility: visible;
                        background: $color-dark;
                        border: 0.0625rem solid $color-yellow;
                    }

                    input[type=checkbox]:checked:after {
                        content: "\e92f";
                        font-family: 'icomoon';
                        font-size: 0.75rem;
                        font-weight: 600;
                        background-color: $color-yellow;
                    }
                }
            }

            .news {

                .new {
                    position: absolute;
                    top: -0.1875rem;
                    left: -0.1875rem;
                    width: 0.6875rem;
                    height: 0.6875rem;
                    background: url(../images/common/news.svg) no-repeat center center;
                    background-size: contain;
                }
            }
        }

        .btnGroup {

            button,
            input {
                padding: 0.3125rem 2.5rem;
            }

        }
    }
}