.communityContent {

    // .icon-lock,
    .icon-setting,
    .icon-leave {
        font-size: 1.875rem;
    }

    .icon {
        position: absolute;
        top: 50%;
        left: 13%;
        transform: translateY(-50%);
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 1.25rem;
        background-image: url(../images/communityContent/10.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .lock {
        width: 1.25rem;
        height: 1.25rem;
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
    }

    .yes {
        background: url(../images/common/lock.svg) no-repeat center center;
        background-size: contain;
    }

    .no {
        background: url(../images/common/unlock.svg) no-repeat center center;
        background-size: contain;
    }

    .layui-btn {
        height: auto;
    }
}

.communityContentGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerHeader {
        .banner {
            height: 8.75rem;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .member {
            font-size: 0.75rem;
            padding: 0.625rem 1.875rem;

            .avaGroup {
                width: 60%;

                .avatar {
                    width: 2.1875rem;
                    height: 2.1875rem;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }

            .invite {
                padding: 0 0.3125rem;
                background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
            }
        }

        .release {
            padding: 0.1875rem 1.875rem;
            background: $color-yellow;

            .avatar {
                width: 2.1875rem;
                height: 2.1875rem;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            input {
                font-size: 0.75rem;
                padding: 0.1875rem 1.25rem;
                border: 0.125rem solid black;
                margin-left: 1.25rem;
                border-radius: 1.875rem;

                &::placeholder {
                    color: black;
                }
            }
        }
    }

    .innerContent {
        padding: 1.25rem;
    }
}