.confirmListGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerContainer {
        padding: 1.875rem;


        .nav {
            width: 90%;
            margin: 0 auto;
            font-size: 1.125rem;

            .active {
                color: $color-yellow;
            }
        }

        .tab-content {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 0.5rem;
                background: rgb(224, 205, 92);
            }
            a {
                padding: 0.1875rem;
                margin-bottom: 0.1875rem;

                .avatar {
                    width: 2.5rem;
                    height: 2.5rem;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .info {
                    flex: 1 0 50%;
                    margin-left: 1.25rem;

                    .name {
                        font-size: 1.125rem;
                    }

                    .account {
                        transform: scale(0.6) translateX(-20%);
                    }

                    .number {
                        font-size: 0.75rem;
                    }
                }

                .money {
                    flex: 1 0 15%;

                    .number {
                        margin-left: 0.3125rem;
                    }
                }
            }
        }

        .red {
            width: 0.9375rem;
            height: 0.9375rem;
            background: url(../images/common/red.svg) no-repeat center center;
            background-size: contain;
        }
    }
}