.createSettingGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerContent {
        padding: 1.25rem 1.875rem;

        li {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 0.8rem;

            label {
                white-space: nowrap;
                margin: 0;
            }

            input {
                color: #FFF;
                padding: 0.125rem 0.9375rem;
            }

        }

        .title {
            input {
                margin: 0 0.625rem;
            }

            .smallText {
                white-space: nowrap;
                transform: scale(0.9);
            }
        }

        .textarea,
        .uploadImgGroup {
            label {
                width: 100%;
                margin-bottom: 0.3125rem;
            }
        }

        textarea,
        [type=file],
        .uploadImg {
            // width: 80%;
            width: 100%;
            height: 7.5rem;
            margin-left: auto;
            color: #FFF;
        }
        
        textarea {
            padding: 6px 12px; 
        }

        .uploadImgGroup {
            [type=file] {
                position: absolute;
                right: 0;
                bottom: 0;
            }

            // .uploadImg {
            //     border-radius: 1.25rem;
            // }
        }

        .end {
            input {
                min-width: 0;
                max-width: none;
                width: 100%;
                height: auto;
                height: 1.737rem;
                line-height: 1.25;
            }
            input+input {
                margin-top: 0.9375rem;
            }
            label {
                flex: 0 0 auto;
                &+div {
                    flex: 1 1 auto;
                }
            }

        }

        .btnGroup {
            bottom: 8%;
        }
    }
}