.sorting {
    padding: 1.875rem 1.875rem 3.125rem 1.875rem;
}

.createRecordGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerHeader {
        padding: 0.1875rem;
        font-size: 0.875rem;

        .red,
        .blue {
            margin-right: 0.625rem;
        }

        span {
            margin-right: 0.625rem;
        }

    }

    .content {
        padding: 0 0.625rem 0.625rem 0.625rem;

        li {
            margin-top: 0.625rem;
            border: 0.125rem solid #FFD965;
            padding: 1.25rem 0.3125rem 1.25rem 1.5625rem;

            p {
                margin: 0;
            }

            .avatar {
                width: 3.75rem;
                height: 3.75rem;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .info {
                .title {
                    font-size: 1.25rem;
                }

                .account {
                    display: inline-block;
                    font-size: 0.75rem;
                    color: #999999;
                    transform: scale(0.8) translateX(-12%);
                    vertical-align: text-bottom;
                }
            }

            .time {
                font-size: 0.75rem;
                transform: scale(0.8) translateX(-12%);
                margin-top: 0.1875rem;
            }

            .type {
                text-align: center;
                flex: 1 0 auto;
            }

            .number {
                margin-left: 0.3125rem;
            }
        }
    }

    .red {
        width: 1.5625rem;
        height: 1.5625rem;
        background: url(../images/common/red.svg) no-repeat center center;
        background-size: contain;
    }

    .blue {
        width: 1.5625rem;
        height: 1.5625rem;
        background: url(../images/common/blue.svg) no-repeat center center;
        background-size: contain;
    }
}