.createGroup {
    background: $info-bg;
    color: #FFF;
    border: none;
    padding: 2.5rem;

    a {
        display: block;

        .img {
            width: 2.1875rem;
            height: 2.1875rem;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        span {
            font-size: 1.375rem;
            margin-left: 1.25rem;
        }
    }

    li+li {
        margin-top: 2.5rem;
    }
}