.createCommunityGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerContainer {
        width: 80%;
        margin: 0 auto;

        .formGroup {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 0.625rem;

            &>* {
                width: 100%;
            }
        }

        .name {
            border-bottom: 0.0625rem solid $color-yellow;
        }

        .uploadImgGroup {
            .uploadImg {
                height: 8.75rem;
            }
        }

        .info {

            textarea {
                height: 9.375rem;
                border-radius: 0;
                padding: 0.375rem 0.75rem;
                color: #ffffff;
            }
        }

        .btnGroup {
            bottom: 9%;
        }
    }
}