.deleteMember {
    .icon {
        position: absolute;
        top: 50%;
        left: 13%;
        transform: translateY(-50%);
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 1.25rem;
        background-image: url(../images/deleteMember/10.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.deleteMemberGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerContent {
        position: relative;
        padding: 1.25rem 1.875rem;

        &::before {
            content: '';
            position: absolute;
            top: 3.4375rem;
            left: 0;
            display: block;
            width: 100%;
            height: 0.5rem;
            background: $color-yellow;
        }

    }
}