.dynamicSidebar {

    li {
        margin: 0;

        a {
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
                width: 1.5625rem;
                height: 1.5625rem;
            }

            .add {
                background: url(../images/common/plus.svg) no-repeat center center;
                background-size: contain;
            }

            .two {
                background: url(../images/common/twoPeople.svg) no-repeat center center;
                background-size: contain;
            }

            .fri {
                background: url(../images/common/friend.svg) no-repeat center center;
                background-size: contain;
            }

            .per {
                background: url(../images/common/my.svg) no-repeat center center;
                background-size: contain;
            }

            .hot {
                background: url(../images/common/hot-w.svg) no-repeat center center;
                background-size: contain;
            }

            .loc {
                background: url(../images/common/position.svg) no-repeat center center;
                background-size: contain;
            }
        }
    }
}

.dynamicGroup {
    background: #231F20;
    color: #FFF;
    border: none;

    .innerHeader {
        padding: 0.625rem 1.875rem 0.625rem 1.875rem;
        position: relative;

        a {
            display: flex;
            justify-content: start;
            align-items: center;

            .avatar {
                width: 2.5rem;
                height: 2.5rem;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .account {
                font-size: 0.875rem;
                margin-left: 0.5rem;
            }
        }

        .more {
            width: 1.875rem;
            height: 1.875rem;
            background: url(../images/common/more.svg) no-repeat center center/50%;
            position: absolute;
            right: .5rem;
            top: 50%;
            transform: translateY(-50%);
        }

    }

    .innerContent {
        position: relative;

        .swiper-container {
            width: 100%;
            height: 18.75rem;
            overflow: visible;

            .image {
                width: 100%;
                height: 100%;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .swiper-pagination {
                bottom: -8%;
            }
        }
    }

    .innerContainer {
        padding: 1.25rem;

        .number {
            font-size: 0.75rem;
            transform: scale(0.8) translateX(-12%);

            .time {
                margin-left: 1rem;
            }
        }

        .icon {

            [class*=icon-] {
                padding: 0 0.1875rem;
                font-size: 1.625rem;
                color: $color-yellow;
            }
        }
    }

    .innerText {
        margin-top: 0.3125rem;

        a {
            color: #5FA7DA;
        }
    }

    .others {
        margin-top: 1rem;
        font-size: 0.75rem;
        padding: 0;
        color: #FFF;
        transform: scale(0.8) translateX(-12%);
    }

    .respond {
        display: block;
        color: #FFF;
        padding: 0.3125rem 0.3125rem 0.3125rem 0.9375rem;
        border: 0.125rem solid #FFF;

        &::placeholder {
            color: #FFF;
            transform: scale(0.8) translateX(-12%);
        }
    }
}

.videoContent {
    .innerContent {
        .video {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            .image {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                // width: 115%;
                // height: 115%;
                background: url(../images/videoContent/10.jpg) no-repeat center center;
                background-size: cover;
                z-index: 2;
                &.blur {
                    filter: blur(5px);
                }
            }
            .play-btn {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
            }
            .play {
                width: 3.125rem;
                height: 3.125rem;
                background: url(../images/common/play.svg) no-repeat center center;
                background-size: contain;
                position: relative;
            }
        }

        .video.mask {
            filter: blur(10px);
        }

        .innerContainer {
            padding: 0 1.5625rem 1.5625rem 1.5625rem;

            .title {
                margin-top: 0.625rem;
            }

            .innerText {
                font-size: 0.75rem;
                transform: scale(0.9) translateX(-6%);

                .tagGroup {
                    margin-top: 1.25rem;
                }

                .text {
                    margin-top: 0.625rem;
                }
            }

            .icon {
                margin-left: auto;
            }

            .msgGroup {
                padding-top: 0.9375rem;

                .message+.message {
                    margin-top: 1.875rem;
                }

                .avatar {
                    display: block;
                    width: 2.1875rem;
                    height: 2.1875rem;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .msg {
                    flex: 0 0 75%;
                    font-size: 0.75rem;

                    .time {
                        color: #606060;
                    }

                    .info {
                        margin-top: 0.25rem;
                        line-height: 1.25;
                    }

                }

                .icon-unheart {
                    align-self: center;
                }
            }
        }
    }
}

.layer-own,
.layer-other {
    display: none;
    width: 15.625rem;
    background: #363743;
    padding: 0.9375rem 1.5625rem;

    li {
        padding: 0.3125rem;

        a {
            display: block;
            text-align: left;
            font-size: 1.125rem;
            color: #F6D367;
        }
    }
}