.evaluationGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerContainer {
        height: 100%;
        // padding: 0.625rem 5rem;
        position: relative;
        width: 70%;
        min-width: 290px;
        padding: 0.625rem 1rem;
        margin: auto;

        .evaluation {
            margin: 0 auto;

            .nav {
                padding: 0.625rem;
                flex-wrap: nowrap;
                border: none;
                .nav-item {
                    flex: 0 0 auto;
                }

                a {
                    color: black;
                    font-weight: 500;
                    padding: 0.3125rem;
                    font-size: 1.375rem;
                    border-radius: 0;
                    background: #B3B3B3;
                }

                a.active {
                    background: #FFD965;
                }
            }

            .tab-content {
                ul {
                    width: 100%;
                    padding: 0.625rem;

                    li {
                        width: 100%;
                        margin-bottom: 0.625rem;

                        .info {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .type {
                                margin: 0;
                                font-size: 1rem;
                            }

                            .number {
                                font-size: 0.75rem;
                                align-self: flex-end;
                            }
                        }

                        .star {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .img {
                                width: 2.5rem;
                                height: 2.5rem;
                                background: url(../images/common/unstar.svg) no-repeat center center;
                                background-size: contain;
                            }

                            .yes {
                                background: url(../images/common/star.svg) no-repeat center center;
                                background-size: contain;
                            }

                            .no {
                                background: url(../images/common/unstar.svg) no-repeat center center;
                                background-size: contain;
                            }
                        }

                        button {
                            font-size: 1.125rem;
                            font-weight: 600;
                            padding: 0.625rem 1.875rem;
                            background: #FFD965;
                            // position: absolute;
                            // bottom: 3.125rem;
                            margin-top: 3.125rem;
                        }

                    }
                }
            }
        }
    }
}