.exchangeGroup {
    background: $info-bg;
    color: #FFF;
    border: none;
    position: relative;

    .innerContent {
        padding: 0 1.875rem;

        .nav {
            &-item {
                &:first-child {
                    .nav-link {
                        padding: 1.301rem 1rem;
                    }
                }
            }

            &-link {
                color: black;
                border-radius: 1.25rem;
                background: #CCCCCC;

                &.active {
                    background: #F5D267;
                }
            }
        }

        .tab-content {
            font-size: 0.75rem;
            text-align: center;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .gift,
                .dim,
                .money,
                .space {
                    width: 2.1875rem;
                    height: 2.1875rem;
                }

                .gift {
                    background: url(../images/exchange/gift.svg) no-repeat center center;
                    background-size: cover;
                }

                .money {
                    background: url(../images/exchange/money.svg) no-repeat center center;
                    background-size: cover;
                }

                .dim {
                    background: url(../images/exchange/diamond.svg) no-repeat center center;
                    background-size: cover;
                }

                .change {
                    white-space: nowrap;
                }

                .color {
                    color: black;
                    background: #FFD965;
                }

                .date {
                    line-height: 1.2rem;

                    span:nth-child(2) {
                        display: block;
                        transform: scale(0.8);
                    }
                }

                button {
                    background: #FFD965;
                    border-radius: 1.25rem;
                    border: 0.0625rem solid #FFF;
                    padding: 0 0.625rem;
                }
            }

            .item+.item {
                margin-top: 1.875rem;
            }
        }

        .innerContainer {
            padding: 0 1.875rem;
            position: absolute;
            bottom: 4.5%;
            left: 0;

            .note {
                height: 11.5rem;
                color: black;
                text-align: left;
                padding: 0.9375rem;
                background: #FFD965;
                border-radius: 1.25rem;

                li+li {
                    margin-top: 0.625rem;
                }

                .title {
                    font-size: 1.25rem;
                }
            }
        }
    }
}