@charset "UTF-8";

$default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$NotoSans: 'Noto Sans TC', 'Noto Sans SC', $default;
$Roboto_Condensed: 'Roboto Condensed', $default;

.text-break {
    word-break: break-all;
}

.hyphens {
    hyphens: auto;
}

.f-44 {
    font-size: 2.75rem;
}
.f-38 {
    font-size: 2.375em;
}
.f-32 {
    font-size: 2rem;
}
.f-28 {
    font-size: 1.75rem;
}
.f-24 {
    font-size: 1.5rem;
}
.f-20 {
    font-size: 1.25rem;
}

.f-18 {
    font-size: 1.125rem;
}

.f-16 {
    font-size: 1rem;
}

.f-14 {
    font-size: 0.875rem;
}

.f-12 {
    font-size: 0.75rem;
}

[class*="icon-"] {
    color: white;
    &::before {
        color: inherit;
    }
}