@charset "UTF-8";

footer {
    // background-color: $color-dark;
    padding-top: 5px;
    background: $color-dark;
    .nav {
        width: 100%;
        margin: auto;
        // border-top-left-radius: 15px;
        // border-top-right-radius: 15px;
        // background-color: $color-indigo;
        background: $color-dark;
        .nav-item {
            flex: 0 0 20%;
            position: relative;
            .nav-link {
                padding: 0;
                color: #FFF;
                transition: all .3s ease-in-out;
                [class*=icon-] {
                    &:before {
                        color: white;
                    }
                }
                &.active {
                    background-color: transparent;
                    color: #f0a45e;
                }
            }
        }
        .icon-main {
            // width: 60px;
            // height: 60px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            // background: #ccc;
            // bottom: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            // border: solid 2px #FFF;
            font-size: 2.75rem;
        }
    }
}