[class*="control-input"] {
    
}

.custom-control-input {
    &::before {
        background-color: transparent;
    }
    &:checked ~ .custom-control-label::before {
        background-color: #FFF;
        border-color: #FFF;
    }
    &:focus ~ .custom-control-label::before {
        box-shadow: none;
    }

    
    &:disabled ~.custom-control-label {
        color: inherit;
    }
}
.custom-radio {
    .custom-control-input {
        & ~ .custom-control-label::before,
        & ~ .custom-control-label::after {
            background: transparent;
        }
        &:checked ~ .custom-control-label::after {
            background-image: none;
            background: #FFF;
            border-radius: 50%;
            width: calc(1rem - 4px);
            height: calc(1rem - 4px);
            margin-left: 2px;
            margin-top: 2px;
        }
    }
}
[data-input-type="date"] {
    height: auto;
}

[type="submit"],
button.cancel {
    font-weight: bold;
}

.innerContainer .info textarea,
.innerContainer .form-group textarea {
    color: #FFF;
    padding: 6px 12px;
}