.friendGroup {
    background: $info-bg;
    color: #FFF;
    border: none;
    font-size: 1.125rem;

    .innerHeader {
        width: 70%;
        margin: 0 auto;
        position: relative;
    }

    .innerContainer {
        .nav {
            border-bottom: 0.5rem solid rgb(224, 205, 92);

            .active {
                color: $color-yellow;
            }
        }

        .tab-content {
            padding: 1.25rem 2.5rem;

            ul {
                li {
                    padding: 0.5rem;
                }

                .title {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    color: black;
                    background: #FFD84F;
                    padding: 0.125rem 0.5rem;

                    .plus {
                        display: inline-block;
                        width: 0.9375rem;
                        height: 0.9375rem;
                        background: url(../images/common/plus-b.svg) no-repeat center center;
                        background-size: contain;
                    }

                    .space {
                        display: inline-block;
                        width: 0.9375rem;
                        height: 0.9375rem;
                    }
                }
            }

            .people {
                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .avatar {
                        width: 2.5rem;
                        height: 2.5rem;
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .name {
                        font-size: 1.125rem;
                        margin-left: 1.25rem;
                    }
                }

                li:nth-child(2) {
                    margin-top: 0.3125rem;
                }
            }
        }
    }
}