.friendType {
    h5 {
        pointer-events: none;
    }

    .add {
        position: absolute;
        right: 20%;
        top: 50%;
        transform: translateY(-50%);
        width: 1.375rem;
        height: 1.375rem;
        background: url(../images/common/peopleAdd.svg) no-repeat center center;
        background-size: contain;
    }

    .trash {
        position: absolute;
        right: 8%;
        top: 50%;
        transform: translateY(-50%);
        width: 1.375rem;
        height: 1.375rem;
        background: url(../images/common/trash.svg) no-repeat center center;
        background-size: contain;
    }
}

.friendTypeGroup {
    background: $info-bg;
    color: #FFF;
    border: none;
    font-size: 1.125rem;

    .innerContainer {
        padding: 1.875rem;

        ul {
            li {
                padding: 0.1875rem;

                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .avatar {
                        width: 2.5rem;
                        height: 2.5rem;
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .name {
                        font-size: 1.125rem;
                        margin-left: 1.25rem;
                    }
                }
            }

            li:not(:first-child) {
                margin-top: 0.625rem;
            }
        }
    }
}