.giftGroup {
    background: $info-bg;
    color: #FFF;
    border: none;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &.position-fixed {
        top: 0;
        left: 0;
        height: 100%;
        z-index: 999;
        transform: translateX(-100%);
        transition: all .5s ease-in-out;
        &.open {
            transform: translateX(0);
        }
    }

    .innerHeader {
        padding: 1.25rem;
        flex: 0 0 auto;
    }
    .group {
        flex: 1 1 100%;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .innerFooter {
        flex: 0 0 auto;
    }

    .group {
        padding: 0.625rem 1.25rem;

        .gift {
            margin-bottom: 0.625rem;
            border: 0.3125rem solid transparent;

            .giftImg {
                width: 5rem;
                height: 5rem;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                margin: 0 auto 0.625rem auto;
            }

            .info {
                display: flex;
                justify-content: center;
                align-items: center;

                .blue {
                    width: 1.25rem;
                    height: 1.25rem;
                    background: url(../images/common/blue.svg) no-repeat center center;
                    background-size: contain;
                }

                .number {
                    margin-left: 0.5rem;
                }
            }
        }

        .gift.active {
            border: 0.3125rem solid $color-orange;
        }
    }

    .giftBtn {
        padding: 0.625rem 1.875rem;
        background: $color-orange;
        border: 0.0625rem solid #FFF;
        // position: absolute;
        // bottom: 1.25rem;
        // right: 1.25rem;
        // margin-bottom: 1.25rem;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        margin-right: 1.25rem;
        display: block;
        margin-left: auto;
    }
}