.giveEvaluationGroup {
    background: $info-bg;
    color: #FFF;
    border: none;
    position: relative;

    .innerContainer {
        padding: 0.625rem 3.75rem;

        .star {
            margin: 1.25rem auto;

            button {
                width: 2.5rem;
                height: 2.5rem;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(../images/common/unstar.svg);
            }

            button+button {
                margin-left: 0.3125rem;
            }

            .yes {
                background-image: url(../images/common/star.svg);
            }
        }
        .star {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .img {
                width: 2.5rem;
                height: 2.5rem;
                background: url(../images/common/unstar.svg) no-repeat center center;
                background-size: contain;
            }

            .yes {
                background: url(../images/common/star.svg) no-repeat center center;
                background-size: contain;
            }

            .no {
                background: url(../images/common/unstar.svg) no-repeat center center;
                background-size: contain;
            }
        }


        textarea {
            color: #fff;
            // width: 80%;
            width: 100%;
            height: 6.25rem;
            align-self: center;
            margin-top: 0.5rem;
        }

        .uploadImgGroup {
            .uploadImg {
                width: 100%;
                height: 8.75rem;
            }
        }

    }
}