@charset "UTF-8";

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #FFF;
    background: $color-dark;
    padding: 1.5625rem;
    min-height: 3rem;

    .icon-back {
        font-size: 1rem;
    }

    @import '_fonts';
}