@charset "UTF-8";

// [class*=icon-] {
    
// }

// 用背景圖片
[class*=icon_] {
    display: inline-block;
    vertical-align: middle;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 16px;
}

.icon_search {
    width: 1.25rem;
    height: 1.25rem;
    background-image: url('https://image.flaticon.com/icons/svg/126/126474.svg');
}
.icon_crown {
    width: 1.25rem;
    height: 1.25rem;
    background-image: url('https://image.flaticon.com/icons/svg/773/773634.svg');
}
.icon_home {
    width: 1.25rem;
    height: 1.25rem;
    background-image: url('https://image.flaticon.com/icons/svg/20/20176.svg');
}
.icon_favorite {
    width: 1.25rem;
    height: 1.25rem;
    background-image: url('https://image.flaticon.com/icons/svg/126/126471.svg');
}
.icon_main {
    width: 2.1875rem;
    height: 2.1875rem;
    background-image: url('https://image.flaticon.com/icons/svg/763/763704.svg');
}
.icon_message {
    width: 1.25rem;
    height: 1.25rem;
    background-image: url('https://image.flaticon.com/icons/svg/1078/1078011.svg');
}
.icon_member {
    width: 1.25rem;
    height: 1.25rem;
    background-image: url('https://image.flaticon.com/icons/svg/126/126486.svg');
}
.icon_fire {
    width: 0.75rem;
    height: 0.75rem;
    background-image: url('https://image.flaticon.com/icons/svg/426/426833.svg');
}
.icon_user {
    background: url('../images/login/user.svg') no-repeat center center;
    background-size: contain;
}

.icon_plus {
    
    width: 0.9375rem;
    height: 0.9375rem;
    background-image: url(../images/common/plus.svg);
}

.icon-active-area {
    &.color-light {
        [class*="icon"] {
            &.active {
                color: $color-white;
            }
        }
    }
    &.color-dark {
        [class*="icon"] {
            &.active {
                color: $color-yellow;
            }
        }
    }
}

// .icon-type-1 {
//     background: url(../images/icon/type/type1.svg) no-repeat center center !important;
//     background-size: cover !important;
// }
// .icon-type-2 {
//     background: url(../images/icon/type/type2.svg) no-repeat center center !important;
//     background-size: cover !important;
// }
// .icon-type-3 {
//     background: url(../images/icon/type/type3.svg) no-repeat center center !important;
//     background-size: cover !important;
// }
// .icon-type-4 {
//     background: url(../images/icon/type/type4.svg) no-repeat center center !important;
//     background-size: cover !important;
// }
// .icon-type-5 {
//     background: url(../images/icon/type/type5.svg) no-repeat center center !important;
//     background-size: cover !important;
// }
// .icon-type-6 {
//     background: url(../images/icon/type/type6.svg) no-repeat center center !important;
//     background-size: cover !important;
// }
[class*=icon-type-] {
    display: flex;
    align-items: center;
    justify-content: center;
}