form {
    overflow: hidden;
}

.inviteBtn {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25rem;
    padding: 0.0625rem 0.9375rem;
    background: $color-yellow;
}

.friendCreateGroup {
    h3 {
        pointer-events: none;
    }

    .uploadImgGroup {
        position: absolute;
        left: 19%;
        top: 50%;
        transform: translateY(-50%);

        .uploadImg {
            width: 2.8125rem;
            height: 2.8125rem;

            .imgLabel {
                left: 85%;
                top: 85%;
                width: 1.125rem;
                height: 1.125rem;
            }
        }
    }
}

.inviteMemberGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .search {
        width: 100%;
        position: relative;
        padding: 0.1875rem 1.875rem;
        background: $color-yellow;

        input {
            margin: 0 auto;
            border-bottom: 0.125rem solid black;
            padding-left: 2.5rem;
            color: #000;
        }

        input,
        .btn {
            border: 0;
            border-bottom: 0.125rem solid black;
            border-radius: 0;
        }

        .btn {
            padding: 0.1875rem 0.75rem;
        }

        .icon-search {
            color: black;
            display: block;
        }
    }

    .innerContent {
        height: 80vh;
        padding: 1.25rem 1.875rem;
        overflow: auto;

        .group {
            padding-top: 0;

            .info {
                width: 100%;
                position: relative;

            }

            input[type=checkbox] {
                position: relative;
                width: 0.9375rem;
                height: 0.9375rem;
            }

            input[type=checkbox]:after {
                position: absolute;
                width: 0.9375rem;
                height: 0.9375rem;
                top: 0;
                left: 0;
                content: " ";
                display: inline-block;
                visibility: visible;
                background: $color-dark url(../images/common/uncheck-y.svg) no-repeat center center;
                background-size: contain;
            }

            input[type=checkbox]:checked:after {
                content: "";
                width: 0.9375rem;
                height: 0.9375rem;
                background: $color-dark url(../images/common/check-y.svg) no-repeat center center;
                background-size: contain;
            }
        }
    }
}

.friendCreateContent {
    .search {
        padding: 0.1875rem 2.5rem;

        label {
            margin: 0;
            font-size: 1.125rem;
            color: black;
        }

        input {
            width: 60%;
            margin: 0 0 0 0.3125rem;
        }
    }

    .innerHeader {
        width: 70%;
        margin: 0 auto;
        position: relative;
    }

    .innerContent {
        .group {
            padding-bottom: 10vh;
        }
    }
}