.login {
    background: url(../images/login/5.png) no-repeat center center;
    background-size: cover;
    background-position: center center;
    background-size: contain;
    background: #9b6abc;
    background: -moz-linear-gradient(top, #22222a 0%, #2a172d 50%, #41274c 66%, #7c4d95 82%, #9b6abc 100%);
    background: -webkit-linear-gradient(top, #22222a 0%, #2a172d 50%, #41274c 66%, #7c4d95 82%, #9b6abc 100%);
    background: linear-gradient(to bottom, #22222a 0%, #2a172d 50%, #41274c 66%, #7c4d95 82%, #9b6abc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b6abc', endColorstr='#22222a', GradientType=0);

    .innerLogin {
        padding: 5rem;

        .innerHeader {
            width: 9.375rem;
            height: 9.375rem;
            background: url(../images/logo.svg) no-repeat center center;
            background-size: contain;
        }

        .innerContent {
            margin-top: 1.25rem;
            width: 100%;

            .input {
                padding: 0.125rem 1rem;
                border-bottom: 0.0625rem solid#FFF;
                color: inherit;
                width: 100%;

                &:first-of-type {
                    .icon {
                        width: 1.25rem;
                        height: 1.25rem;
                        flex: 0 0 auto;
                        width: auto;
                        max-width: 100%;
                    }
                    input {
                        flex: 1 1 0%;
                        max-width: 100%;
                    }
                }

                &:nth-of-type(2) {
                    .icon {
                        width: 1.25rem;
                        height: 1.25rem;
                        flex: 0 0 auto;
                        width: auto;
                        max-width: 100%;
                    }
                    input {
                        flex: 1 1 0%;
                        max-width: 100%;
                    }
                }

                input {
                    background: transparent;
                    border: none;
                    padding-left: 0.9375rem;
                    color: inherit;

                    &::placeholder {
                        font-size: 0.875rem;
                        color: #FFF;
                    }
                }
            }

            .logBtn,
            .regBtn {
                width: 100%;
                padding: 0.1875rem 0;
                border: 0.0625rem solid #FFF;
                background: transparent;
                color: #FFF;
                font-size: 0.875rem;
                border-radius: .5rem !important;

                img {
                    width: 100%;
                }
            }

            .forBtn {
                font-size: 0.75rem;
                margin: 0.625rem auto 1.25rem 0;
                color: #FFF;

            }
        }
    }
}