@charset "UTF-8";

main {
    .banner-swiper {
        // height: 230px;
        height: 34vw;
        min-height: 110px;
        .swiper-slide {
            .card-img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
            }
            .anchor-name {
                font-size: 6vw;
            }
        }
    }
    .lists {
        display: flex;
        flex-wrap: wrap;
        &-item {
            // height: 362px;
            height: 55vw;
            // min-height: 245px;
            min-height: 180px;
        }
        .card {
            background-color: transparent;
            &-img-overlay {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0.65rem;
                .hot {
                    margin: 0;
                    p {
                        display: inline-block;
                        font-size: 0.75rem;
                        font-size: 3.2vw;
                        background-color: rgba(0,0,0,0.4);
                        padding: 0.15rem .35rem;
                        border-radius: .25rem;
                    }
                }
                .card-title {
                    margin: 0;
                    .anchor-label {
                        display: inline-block;
                        margin-bottom: 5px;
                        padding: 0.15rem .35rem;
                        border-radius: .25rem;
                        font-size: 0.75rem;
                        font-size: 3vw;
                    }
                    .anchor-name {
                        font-size: 1.1rem;
                        font-size: 5vw;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .games {
        &-lists {
            &-item {
                min-height: 0;
                height: auto; 
                .card {
                    position: relative;
                    &-image {
                        position: relative;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        padding-bottom: 100% !important;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: 50% 50%;
                    }
                }
            }
        }
    }
}