.sorting {
    padding: 1.875rem 1.875rem 3.125rem 1.875rem;
}

.mapSortingGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .content {
        display: none;
        padding: 0 0.9375rem 0.9375rem 0.9375rem;

        li {
            margin-top: 0.9375rem;
            border: 0.125rem solid #FFD965;
            padding: 0.3125rem 0.625rem;

            .avatar {
                width: 4.375rem;
                height: 4.375rem;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .title {
                font-size: 1rem;
            }

            .sortTitle {
                font-size: 1.25rem;
                color: $color-orange;
            }

            .time {
                font-size: 0.75rem;
                margin-top: 0.1875rem;
            }

            .number {
                margin-left: 0.3125rem;
            }

            div:nth-child(2) {
                line-height: 1rem;
            }
        }
    }

    .red {
        width: 1.5625rem;
        height: 1.5625rem;
        background: url(../images/common/red.svg) no-repeat center center;
        background-size: contain;
    }

    .blue {
        width: 1.5625rem;
        height: 1.5625rem;
        background: url(../images/common/blue.svg) no-repeat center center;
        background-size: contain;
    }
}