.createMap {
    padding: 2.5rem 1.25rem 0.9375rem 1.25rem;
    justify-content: space-between;

    .cancel {
        width: 0.9375rem;
        height: 0.9375rem;
        background: url(../images/common/cancel.svg) no-repeat center center;
        background-size: contain;
    }

    .next {
        padding: 0.3125rem 1.25rem;
        border: 0.0625rem solid #FFF;
        background: $color-orange;
    }
}

.mapSidebar {
    // padding: 3.75rem 0;
    padding: 3.75rem 0 .25rem 0;
    height: auto;
    .mapCard {
        .mapBtn {
            width: 100%;
            padding: 0.625rem 1.875rem;
            color: #FFF;
            background: #808080;
        }

        .collapsed {
            background: transparent;
        }

        .mapCardBody {
            padding: 0.3125rem;
            background: #231F20;

            li {
                margin: 0;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .icon {
                        width: 0.9375rem;
                        height: 0.9375rem;
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    .fri {
                        background-image: url(../images/common/friend.svg);
                    }

                    .per {
                        background-image: url(../images/common/my.svg);
                    }

                    .hot {
                        background-image: url(../images/common/hot-w.svg);
                    }

                    .loc {
                        background-image: url(../images/common/position.svg);
                    }
                }
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 3.75rem;
        left: 0;
        display: block;
        width: 100%;
        height: 0.125rem;
        background: #F5D267;
    }
}

.mapGroup {
    background: $info-bg;
    color: #FFF;
    border: none;
    position: relative;

    .map {
        height: 100%;
        background: url(../images/common/map.png) no-repeat center center;
        background-size: cover;
    }

    .mapType {
        // display: none;

        button {
            padding: 0;
        }

        .group {
            position: absolute;
        }

        .avatar {
            width: 3.125rem;
            height: 3.125rem;
            // width: 4rem;
            // height: 4rem;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            // border: 0.3125rem solid $color-dark;
            border: 0.25rem solid $color-dark;
        }

        .type {
            width: 1.3rem;
            height: 1.3rem;
            // width: 1.7rem;
            // height: 1.7rem;
            // background: $color-dark;
            border: 0.0625rem solid #FFF;
            background: $color-dark;
            position: absolute;
            top: -0.25rem;
            left: -0.25rem;
            // top: -0.35rem;
            // left: -0.35rem;
            font-size: .75rem;
        }

        .person {
            position: absolute;
            top: -2.5rem;
            left: -150%;
            padding: 0.375rem;
            transition: all .3s;
            transform: scale(0) translateX(-50%);
            background: $color-dark;
            z-index: 1;

            .smallAvatar {
                width: 2.1875rem;
                height: 2.1875rem;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .info {
                text-align: left;
                line-height: 1.1rem;

                .title {
                    color: $color-yellow;
                    transform: translateY(18%);
                }

                .time {
                    white-space: nowrap;
                    color: #FFF;
                    transform: scale(0.6) translateX(-33%) translateY(18%);
                }
            }
        }

        .person.active {
            left: 50%;
            transition: all .3s;
            transform: scale(1) translateX(-50%);
        }

    }

    .location {
        position: absolute;
        right: 8%;
        bottom: 3%;
        width: 1.875rem;
        height: 1.875rem;
        background: url(../images/common/location.svg) no-repeat center center;
        background-size: contain;
    }

    .redLocation {
        position: absolute;
        left: 8%;
        top: 54%;
        width: 2.1875rem;
        height: 2.1875rem;
        background: url(../images/common/redLocation.svg) no-repeat center center;
        background-size: contain;
    }

    .social {
        background: $color-indigo url(../images/common/my.svg) no-repeat center center;
        background-size: contain;
    }

    // .game {
    //     background: $color-indigo url(../images/common/game.svg) no-repeat center center;
    //      background-size: contain;
    // }


    .test1 {
        top: 21%;
        left: 29%;
    }

    .test2 {
        top: 32%;
        left: 72%;
    }
}