.media+.sidebar {
    padding-top: 1.5625rem;
}

.media .icon-menu,
.sidebar .sidebar-click-btn .icon-menu {
    font-size: 2.375rem;
}

.mediaGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerHeader {
        width: 70%;
        margin: 0 auto;
        position: relative;
    }

    .innerContainer {
        padding: 0 0.5rem;

        .videoGroup {
            padding-top: 1.875rem;

            .item {
                padding: 0.625rem;

                .video {
                    height: 6.25rem;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: relative;

                    &-time {
                        position: absolute;
                        bottom: 0.125rem;
                        right: 0.125rem;
                        color: #FFF;
                        font-size: 0.75rem;
                        background: $color-dark;
                        z-index: 1;
                    }
                }

                .title {
                    display: block;
                    font-size: 0.75rem;
                    margin-bottom: 0.625rem;
                    line-height: 1.25;
                }

                .info {
                    font-size: 0.625rem;

                    .times {
                        margin-left: 0.625rem;
                    }
                }
            }
        }
    }
}