.memberGroup {
    .group {
        overflow: auto;
        padding: 1.25rem 0 5vh 0;

        .info {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            padding: 0.3125rem 0;

            .avatar {
                width: 2.5rem;
                height: 2.5rem;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            span,
            label {
                margin-left: 1.25rem;
            }

            button {
                line-height: 1.25rem;
                padding: 0.125rem 0.625rem;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
            }
        }
    }
}

.messageFriendGroup {
    .innerContent  {
        .info {
            label {
                color: $color-yellow;
            }
            .badge {
                background-color: $color-yellow;
                padding: 0;
                width: 1.75rem;
                height: 1.75rem;
                line-height: 1.75rem;
            }
        }
    }
}