.myCommunity {
    .icon {
        width: 1.5625rem;
        height: 1.5625rem;
        background: url(../images/common/add.svg) no-repeat center center;
        background-size: contain;
    }
}

.myCommunityGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerContent {
        padding: 0.9375rem;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 0.5rem;
            background: $color-yellow;
        }

        .navGroup {
            position: relative;
            padding-bottom: 1.25rem;

            .nav {
                flex: 0 0 80%;
                flex-wrap: nowrap;
                overflow: auto;

                &-item {
                    flex: 0 0 auto;

                    a.active {
                        color: $color-yellow;
                    }
                }

                li+li {
                    margin-left: 0.625rem;
                }

            }

            .addMenu {
                width: 1.5625rem;
                height: 1.5625rem;
                background: url(../images/common/addMenu.svg) no-repeat center center;
                background-size: contain;
                position: absolute;
                top: 8%;
                right: 1%;
            }

            .editBtn {
                display: none;
                padding: 0;
                position: absolute;
                top: 32%;
                right: 0;
                transform: translateY(-50%);
                font-size: 2.1875rem;
                color: #FFF;

                a {
                    display: inline-block;
                    width: 1.25rem;
                    height: 1.25rem;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .pen {
                    background-image: url(../images/common/pen.svg);
                }

                .del {
                    background-image: url(../images/common/del.svg);
                }

                a+a {
                    margin-left: .5rem;
                }
            }
        }


        .group {
            padding: 0.625rem;

            li {
                position: relative;
                margin-bottom: 1.25rem;

                a {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .img {
                        width: 2.8125rem;
                        height: 2.8125rem;
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .title {
                        margin-left: 1.875rem;
                    }

                    .lock {
                        width: 1.5625rem;
                        height: 1.5625rem;
                        border: none;
                        position: absolute;
                        top: 45%;
                        right: 0;
                        transform: translateY(-50%);
                    }

                    .yes {
                        background: url(../images/common/lock.svg) no-repeat center center;
                        background-size: contain;
                    }

                    .no {
                        background: url(../images/common/unlock.svg) no-repeat center center;
                        background-size: contain;
                    }

                }
            }

            .news {

                .new {
                    position: absolute;
                    top: -0.1875rem;
                    left: -0.1875rem;
                    width: 0.6875rem;
                    height: 0.6875rem;
                    background: url(../images/common/news.svg) no-repeat center center;
                    background-size: contain;
                }
            }
        }
    }
}