.myEvaluationGroup {
    background: $info-bg;
    color: #FFF;
    border: none;
    padding: 0 2.5rem 2.5rem 2.5rem;

    .section {
        border-radius: 1.25rem;
        background: #363743;
        padding: 0.625rem;
        margin-bottom: 0.625rem;

        .avatar {
            width: 2.5rem;
            height: 2.5rem;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .info {
            margin-left: 0.9375rem;

            .person {
                .name {
                    font-size: 0.875rem;
                }

                .account,
                .area,
                .time {
                    font-size: 0.75rem;
                }

                li:nth-child(2) {
                    transform: scale(0.8) translateX(-12%);
                    line-height: 0.4rem;
                    margin-bottom: 0.625rem;
                }
            }

            .type {
                font-size: 0.875rem;
                margin-bottom: 0.3125rem;
            }

            .star {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 0.3125rem;

                .img {
                    width: 2.1875rem;
                    height: 2.1875rem;
                }

                .img+.img {
                    margin-left: 0.3125rem;
                }

                .yes {
                    background: url(../images/common/star.svg) no-repeat center center;
                    background-size: contain;
                }

                .no {
                    background: url(../images/common/unstar.svg) no-repeat center center;
                    background-size: contain;
                }
            }

            .text {
                font-size: 0.875rem;
                padding: 0;
                margin: 0 0 0.3125rem 0;
                line-height: 1.2rem;
            }

            .content {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .img {
                    width: 2.8125rem;
                    height: 2.8125rem;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

            }
        }

        .img+.img {
            margin-left: 0.3125rem;
        }
    }

}