.myWallet {
    padding: 0.9375rem;

    .innerHeader {
        padding: 0.9375rem;
        text-align: center;

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .icon {
            width: 2.0625rem;
            height: 2.0625rem;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .info {
            font-size: 0.75rem;
            line-height: 1.2rem;

            p {
                margin: 0;
            }

            .title {
                transform: scale(0.7);
            }
        }
    }
}

.myWalletGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerContent {
        padding: 0.625rem 2.8125rem;

        li {
            margin: 1.25rem 0;
        }
    }

    .navGroup {
        padding: 0 1.5625rem;

        .nav {
            padding: 0 0.625rem;

            &-link {
                color: black;
                background: #CCCCCC;
                border-radius: 1.25rem;
                padding: 0.625rem 0.75rem;
                line-height: 1.375rem;
            }

            &-link.active {
                background: #FFD965;
            }

            .nav-item+.nav-item {
                margin-left: 0.625rem;
            }
        }

        .custom-search {
            width: 35%;
        }
    }

    .recommend {
        padding: 1.25rem;

        .nav {
            position: relative;
            padding: 0 0.9375rem;

            &-link {
                color: black;
                background: #CCCCCC;
                border-radius: 0.5rem;
                padding: 0.1875rem 0.5rem;
            }

            &-link.active {
                background: #FFD965;
            }

            .invite {
                display: none;
                padding: 0.625rem 0.3125rem;
                position: absolute;
                right: 0.4375rem;
                bottom: 0;
                background: #FFD965;
                border: 0.0625rem solid #FFF;
                border-radius: 0.9375rem;
            }
        }

        .tab-content {
            padding-top: 0.625rem;

            .flex-ul {
                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            .review,
            .operators {
                li+li {
                    margin-top: 0.625rem;
                }

                .avatar {
                    width: 3.4375rem;
                    height: 3.4375rem;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .info {
                    margin-left: 0.625rem;
                    line-height: 1.25rem;
                    white-space: nowrap;

                    .position {
                        font-size: 0.75rem;
                    }

                    .text {
                        display: inline-block;
                        font-size: 0.75rem;
                    }
                }

                .delBtn,
                .changeBtn {
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    padding: 0.0625rem 0.625rem;
                    background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
                }
            }

            .smallText {
                transform: scale(0.9) translateX(-6%);
            }

            .review {
                padding: 0 0.9375rem;

                .info {
                    margin-left: 1.25rem;
                    line-height: 1.375rem;

                    .text {
                        padding: 0 0.3125rem;
                        border-radius: 0.3125rem;
                        background: #363743;
                    }
                }

                .intro {
                    margin-top: 0.1875rem;

                    p {
                        color: black;
                        border-radius: 0.5rem;
                        padding: 0.1875rem 0.5rem;
                        background: #FFD965;
                    }
                }

                .recommendMe {
                    margin-top: 1.25rem;

                    li {
                        padding-right: 0.625rem;
                    }

                    .yes {
                        width: 1.875rem;
                        height: 1.875rem;
                        background: url(../images/common/star.svg) no-repeat center center;
                        background-size: contain;
                    }

                    .no {
                        width: 1.875rem;
                        height: 1.875rem;
                        background: url(../images/common/unstar.svg) no-repeat center center;
                        background-size: contain;
                    }
                }
            }

            .operators {
                .intro {
                    margin: 0.625rem 0;
                }

                .structureContent {
                    .detail {

                        .type {
                            align-self: flex-start;
                            font-size: 0.75rem;
                            margin-top: 0.3125rem;

                            p,
                            button {
                                width: 6.8rem;
                                padding: 0.1875rem 0;
                                display: inline-block;
                                text-align: center;
                                color: black;
                                background: #CCCCCC;
                                border-radius: 0.5rem;
                                margin-left: 0.9375rem;
                            }

                            [aria-expanded=true] {
                                background: #FFD965;
                            }
                        }

                        .detailBody {
                            padding-left: 0.9375rem;

                            .title {
                                font-size: 0.75rem;
                                margin: 0.3125rem 0;
                                transform: scale(0.8) translateX(-13%);
                            }

                            .avatar {
                                width: 2.8125rem;
                                height: 2.8125rem;
                            }

                            .leader {
                                position: relative;

                                .info {
                                    margin-left: 0.3125rem;
                                }

                                .number {
                                    position: absolute;
                                    left: 50%;
                                    bottom: 0;
                                    padding: 0.1875rem 0.3125rem;
                                    font-size: 0.75rem;
                                    color: black;
                                    background: #FFD965;
                                    border-radius: 0.3125rem;
                                    transform: scale(0.8) translateX(-50%);
                                }
                            }

                            .subordinate {
                                .amount {
                                    flex: 1 0 40%;

                                    .affiliation {
                                        font-size: 0.875rem;
                                        background: #363743;
                                        border-radius: 0.3125rem;
                                        padding: 0.1875rem;
                                    }
                                }
                            }

                            .mid {
                                transform: scale(0.8) translateX(64%);
                            }

                            .mid+li {
                                margin-top: 0;
                            }

                        }
                    }
                }

                .listContent {
                    position: relative;

                    .list {
                        .info {
                            .text {
                                padding: 0 0.3125rem;
                                border-radius: 0.3125rem;
                                background: #363743;
                            }
                        }

                        .selectSection {
                            flex: 1 0 40%;
                            text-align: center;

                            .number {
                                color: black;
                                padding: 0 0.625rem;
                                background: #FFD965;
                                border-radius: 0.1875rem;
                            }

                            .iconGroup {
                                margin-top: 1.5625rem;

                                .icon {
                                    width: 1.875rem;
                                    height: 1.875rem;
                                }

                                .sel {
                                    width: 1.875rem;
                                    height: 1.875rem;
                                    background: url(../images/common/select.svg) no-repeat center center;
                                    background-size: contain;
                                }

                                .del {
                                    width: 1.875rem;
                                    height: 1.875rem;
                                    background: url(../images/common/delete.svg) no-repeat center center;
                                    background-size: contain;
                                }
                            }

                            .starGroup {

                                .yes {
                                    width: 1.25rem;
                                    height: 1.25rem;
                                    background: url(../images/common/star.svg) no-repeat center center;
                                    background-size: contain;
                                }

                                .whiteStar {
                                    width: 1.25rem;
                                    height: 1.25rem;
                                    background: url(../images/common/star-w.svg) no-repeat center center;
                                    background-size: contain;
                                }

                                .redStar {
                                    width: 1.25rem;
                                    height: 1.25rem;
                                    background: url(../images/common/star-red.svg) no-repeat center center;
                                    background-size: contain;
                                }
                            }
                        }
                    }

                    .type {
                        font-size: 0.75rem;
                        margin-top: 0.9375rem;

                        .month,
                        .total {
                            padding: 0.1875rem;
                            display: inline-block;
                            text-align: center;
                            color: black;
                            background: #FFD965;
                            border-radius: 0.3125rem;
                            margin-left: 0.625rem;

                            .small {
                                display: inline-block;
                                transform: scale(0.8) translate(-10%, -20%);
                            }
                        }
                    }

                    .innerDel {
                        position: absolute;
                        top: -4%;
                        left: 2.5%;
                        width: 1.875rem;
                        height: 1.875rem;
                        background: url(../images/common/del.svg) no-repeat center center;
                        background-size: contain;
                    }

                    .innerInput {
                        margin-top: 7.5rem;
                        padding-left: 2.1875rem;

                        label {
                            display: block;
                        }

                        input[type=text] {
                            padding: 0 0.625rem;
                            width: 45%;
                            background: #CCCCCC;
                            border: 0.0625rem solid#FFF;
                            border-radius: 0.9375rem;
                            margin-left: 1.8rem;
                        }

                        input[type=submit] {
                            outline: none;
                            margin-left: 5rem;
                            font-size: 0.875rem;
                            line-height: 1.25rem;
                            border: none;
                            padding: 0.0625rem 0.625rem;
                            background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
                        }
                    }

                    .change {

                        button {
                            background: #CCCCCC;
                            border-radius: 0.3125rem;
                            padding: 0 0.625rem;
                            margin-top: 0.9375rem;
                        }

                        button.active {
                            background: #FFD965;
                        }
                        .form-check {
                            position: relative;
                            input {
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                appearance: none;
                                &:checked + label {
                                    background: #FFD965;
                                }
                            }
                            label {
                                background: #CCCCCC;
                                color: $color-dark;
                                border-radius: 0.3125rem;
                                padding: 0 0.625rem;
                                margin-top: 0.9375rem;
                            }
                        }
                    }
                }

                [data-select=false] {
                    .selectSection {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .iconGroup {
                            display: flex;
                        }
                    }

                    .type {
                        display: block;
                    }

                    .change,
                    .innerDel,
                    .innerInput {
                        display: none;
                    }
                }

                [data-select=true] {
                    padding: 0 0.9375rem;

                    .reviewList,
                    .type,
                    .iconGroup,
                    .starGroup {
                        display: none;
                    }

                    .intro {

                        span:first-child {
                            flex: 1 0 60%;
                        }

                        span:last-child {
                            display: none;
                        }

                        span:nth-child(2) {
                            flex: 1 0 40%;
                            text-align: center;
                        }
                    }

                    .selectSection {
                        flex: 1 0 40%;
                        text-align: center;

                        .number {
                            color: black;
                            padding: 0 0.625rem;
                            background: #FFD965;
                            border-radius: 0.1875rem;
                        }
                    }

                    .innerDel,
                    .innerInput,
                    .change {
                        display: block;
                    }

                }

                .distributionContent {
                    padding: 0 0.9375rem;

                    .intro {
                        margin: 0;
                    }

                    .money {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        flex: 1 0 25%;
                        max-width: 25%;

                        .smallText {
                            white-space: nowrap;
                            transform: scale(0.6) translateX(-14%);
                        }

                        .smallNumber {
                            white-space: nowrap;
                            transform: scale(0.8) translateX(6%);
                        }
                    }

                    .distributionList {
                        display: list-item;

                        input[type=checkbox] {
                            width: 1.25rem;
                            height: 1.25rem;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            appearance: none;
                        }

                        input[type=checkbox]:after {
                            position: absolute;
                            // width: 1.25rem;
                            // height: 1.25rem;
                            width: 1.5rem;
                            height: 1.5rem;
                            top: 0;
                            left: 0;
                            content: " ";
                            display: inline-block;
                            visibility: visible;
                            background: url(../images/common/select.svg) no-repeat center center;
                            background-size: contain;
                        }

                        input[type=checkbox]:checked:after {
                            content: "";
                            // width: 1.25rem;
                            // height: 1.25rem;
                            width: 1.5rem;
                            height: 1.5rem;
                            background: url(../images/common/delete.svg) no-repeat center center;
                            background-size: contain;
                        }

                        .leftBox {
                            padding-left: 1.875rem;
                            position: relative;

                            .avatar {
                                flex: 0 0 3.125rem;
                                height: 3.125rem;
                            }
                        }

                        .info {
                            flex: 1 0 90%;
                            margin-left: 0;
                            transform: scale(0.8);
                        }
                    }

                    .distributionInput {
                        display: list-item;
                        margin-top: 11.2rem;
                        padding-left: 2.1875rem;

                        label {
                            display: block;
                        }

                        input[type=text] {
                            padding: 0 0.625rem;
                            width: 45%;
                            background: #CCCCCC;
                            border: 0.0625rem solid#FFF;
                            border-radius: 0.9375rem;
                            margin-left: 1.8rem;
                        }

                        input[type=submit] {
                            outline: none;
                            margin-left: 5rem;
                            font-size: 0.875rem;
                            line-height: 1.25rem;
                            border: none;
                            padding: 0.0625rem 0.625rem;
                            background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
                        }
                    }
                }

                [data-check=false] {
                    .distributionList {
                        display: list-item;
                    }

                    .distributionInput {
                        display: none;
                    }

                }

                [data-check=true] {
                    .distributionList {
                        display: none;
                    }

                    .distributionInput {
                        display: list-item;
                    }
                }

                .flex-60 {
                    flex: 1 0 60%;
                    min-width: 60%;
                }

                .flex-50 {
                    flex: 1 0 50%;
                }

                .flex-20 {
                    flex: 1 0 20%;
                    text-align: center;
                    white-space: nowrap;
                }

            }
        }
    }

    .ad {
        padding: 1.25rem;

        .nav {
            padding: 0 0.9375rem;
            position: relative;

            &-link {
                color: black;
                background: #CCCCCC;
                border-radius: 0.3125rem;
                padding: 0.125rem 0.875rem;
            }

            &-link.active {
                background: #FFD965;
            }

            .invite {
                display: none;
                padding: 0.625rem 0.3125rem;
                position: absolute;
                right: 0%;
                bottom: 0;
                background: #FFD965;
                border: 0.0625rem solid #FFF;
                border-radius: 0.9375rem;
            }
        }

        .dateGroup {
            padding-top: 0.625rem;
            text-align: center;

            .title {
                padding: 0.3125rem 0;
            }

            .dateList {
                .dateListBtn {
                    margin: 0;
                    padding: 0;
                    color: #FFF;

                    .date {
                        color: black;
                        background: #CCCCCC;
                    }

                    .moneyImg {
                        width: 1.25rem;
                        height: 1.25rem;
                        background: url(../images/myWallet/money.svg) no-repeat center center;
                        background-size: contain;
                    }

                    .allow {
                        width: 1.25rem;
                        height: 1.25rem;
                        background: url(../images/myWallet/down.svg) no-repeat center center;
                        background-size: contain;
                    }
                }

                [aria-expanded=true] {
                    color: black;
                    background: #FFD965;

                    .date {
                        background: transparent;
                    }

                    .allow {
                        background: url(../images/myWallet/up.svg) no-repeat center center;
                        background-size: contain;
                    }
                }

                .dateListBody {
                    padding-top: 0.625rem;
                    font-size: 0.75rem;

                    &>div+div {
                        margin-top: 0.625rem;
                    }

                    .item {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .twd {
                            white-space: nowrap;
                            color: #FFD965;
                            background: #363743;
                        }
                    }

                    .bigTitle {
                        background: #363743;
                        border-radius: 0.9375rem;

                        li+li {
                            border-top: 0.0625rem solid #FFF;
                        }
                    }
                }

            }

            .dateList+.dateList {
                margin-top: 0.625rem;
            }

            .smallText {
                display: block;
                transform: scale(0.9);
            }
        }
    }

    .personIncome,
    .expenditure {
        padding: 0.625rem 1.25rem 1.25rem 1.25rem;

        .personIncomeList,
        .expenditureList {
            margin-top: 0.625rem;

            button {
                width: 100%;
                margin: 0;
                padding: 0;
                position: relative;
            }

            [aria-expanded=true] {
                color: black;

                .bg {
                    background: #FFD965;
                }

                .date {
                    background: transparent;
                }

                .allow {
                    width: 1.3125rem;
                    height: 1.3125rem;
                    background: url(../images/myWallet/up.svg) no-repeat center center;
                    background-size: contain;
                }

                .giftImg {
                    width: 1.3125rem;
                    height: 1.3125rem;
                    background: url(../images/myWallet/open.svg) no-repeat center center;
                    background-size: contain;
                }
            }

            [aria-expanded=false] {
                color: #FFF;

                .bg {
                    background: transparent;
                }

                .date {
                    background: #CCCCCC;
                }

                .allow {
                    width: 1.3125rem;
                    height: 1.3125rem;
                    background: url(../images/myWallet/down.svg) no-repeat center center;
                    background-size: contain;
                }

                .giftImg {
                    width: 1.3125rem;
                    height: 1.3125rem;
                    background: url(../images/myWallet/close.svg) no-repeat center center;
                    background-size: contain;
                }
            }

            .bg {
                width: 100%;
                height: 100%;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            .date {
                width: 6.95em;
                text-align: left;
                color: black;
                padding: 0 0.9375rem;
            }
        }

        .personIncomeList+.personIncomeList,
        .expenditureList+.expenditureList {
            margin-top: 0.625rem;
        }

        .personIncomeMonth,
        .expenditureMonth {
            .bg {
                width: 93.4%;
            }

            .date {
                margin-left: 1.5625rem;
            }
        }

        .personIncomeDate,
        .expenditureDate {
            .bg {
                width: 86.2%;
            }

            .date {
                margin-left: 3.125rem;
            }
        }

        .content {

            li {
                margin-top: 0.3125rem;
                border: 0.125rem solid #FFD965;
                padding: 0.625rem 0.3125rem;

                a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .avatar {
                        width: 3.125rem;
                        height: 3.125rem;
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .title {
                        font-size: 1rem;
                    }

                    .account {
                        display: inline-block;
                        font-size: 0.75rem;
                        margin-left: 0.25rem;
                        color: #999999;
                    }

                    .time {
                        font-size: 0.75rem;
                        margin-top: 0.1875rem;
                    }

                    .type {
                        text-align: center;
                        flex: 0 0 25%;
                    }

                    .money {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .giftImg {
                            width: 1.25rem;
                            height: 1.25rem;
                            background: url(../images/myWallet/close.svg) no-repeat center center;
                            background-size: contain;
                        }

                        .number {
                            margin-left: 0.3125rem;
                        }
                    }

                    .smallText {
                        transform: scale(0.8) translateX(-12%);
                    }
                }
            }
        }
    }
}