$text-color:#B3B3B3;

.editHeader {
    height: 8rem;
    flex: 0 0 8rem;
    position: relative;
    padding: 0.75rem 2.5rem 0 2.5rem;

    .bgBtn {
        text-indent: -99px;
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        background: url(../images/common/img.svg) no-repeat center center;
        background-size: contain;
    }

    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background: url(../images/person_edit/banner.png) no-repeat center center;
        background-size: cover;
    }

    .editBtn {
        border: none;
        font-size: 0.875rem;
        padding: 0.1875rem 0.9375rem;
        background: #F5D267;
    }
}

.editPerson {
    color: #fff;
    padding-top: 3.75rem;
    border: none;
    background: $info-bg;
    height: 100%;
    height: calc(100% - 8rem);
    flex: 0 0 calc(100% - 8rem);
    overflow: initial;
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0.9375rem;
        left: 0;
        display: block;
        width: 100%;
        height: 0.125rem;
        background-color: #fff;
    }

    input, textarea {
        border-radius: 0;
    }

    .avatar {
        width: 5rem;
        height: 5rem;
        border: solid 2vw $info-bg;
        background: url(../images/person_edit/photo.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: -1.375rem;
        left: 2.8125rem;

        &::after {
            content: '';
            position: absolute;
            top: -0.0625rem;
            left: -0.0625rem;
            z-index: 1;
            width: 101%;
            height: 101%;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.3)
        }

        .avaBtn {
            text-indent: -99px;
            position: relative;
            z-index: 2;
            width: 1.5625rem;
            height: 1.5625rem;
            background: url(../images/common/img.svg) no-repeat center center;
            background-size: contain;
        }
    }

    .infoContainer {
        overflow: auto;

        .infoGroup {
            padding: 0 2.5rem;

            .input {
                width: 100%;
                text-align: left;

                label {
                    font-size: 0.75rem;
                    margin-bottom: 0.1875rem;
                    color: $text-color;
                    order: 1;
                    transition: all .3s ease-in-out;
                }

                input,
                textarea {
                    order: 2;
                    border: 0;
                    border-bottom: 0.0625rem solid #FFF;

                    &:focus,
                    &:active {
                        border-color: $color-yellow;
                    }
                }

                input {
                    width: 100%;
                    font-size: 0.875rem;
                    color: #FFF;
                    height: 1.25rem;
                    background: transparent;
                }
            }

            .input:not(:first-child) {
                margin-top: 0.625rem;
            }

            .input>* {
                display: block;
            }
        }

        .amount {
            padding: 0 2.5rem;
            margin-top: 1.25rem;

            label {
                line-height: 1.25rem;

                span {
                    font-size: 0.75rem;
                    color: $text-color;
                }
            }
        }

        .openSet {
            padding: 1.25rem 0.625rem 0.9375rem 2.5rem;

            &>span {
                font-size: 0.75rem;
                align-self: flex-end;
                color: $text-color;
            }

            .set {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-top: 1.25rem;

                &>span,
                &>label {
                    flex: 0 0 auto;
                }

                &>div {
                    flex: 1 1 0%;
                    padding: 0 0.9375rem;
                }

                .birthday,
                .height,
                .weight {
                    input {
                        color: #FFF;
                        width: 3.25rem;
                    }
                }

                .tel,
                .mail,
                .affection {
                    input {
                        width: 100%;
                        color: #FFF;
                    }
                }

                .language,
                .education,
                .career,
                .profession {
                    padding: 0 0.625rem;
                    position: relative;

                    input {
                        color: #FFF;
                    }
                }

                .affection {
                    select {
                        color: #FFF;
                        width: 100%;
                        appearance: none;
                        border: 0;
                        background: $color-dark;

                        option {
                            background: $color-dark;
                        }
                    }
                }

            }
        }
    }
}