$info-translateTop: -8vw;
$info-bg: $color-dark;

.personInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $info-bg;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .content,
    .menu {
        overflow: hidden;
    }
    .content {
        flex: 0 0 auto;
    }
    .menu {
        flex: 1 1 auto;
    }

    .content {
        // flex: 1 1 auto;
        color: #FFF;

        .banner {
            height: 26vw;
            background: #1a1a1a;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }

        .info {
            position: relative;
            padding: 1rem 1.5rem 1rem 1.5rem;
            background: $info-bg;

            &::before {
                content: '';
                position: absolute;
                top: 0.9375rem;
                left: 0;
                display: block;
                width: 100%;
                height: 0.125rem;
                background-color: #fff;
            }

            .top {
                align-items: flex-start;
                font-family: $Roboto_Condensed;

                .photo {
                    &-item {
                        position: absolute;
                        left: 0;
                        right: 0;
                        width: 22vw;
                        height: 22vw;
                        border: solid 2vw $info-bg;
                        border-radius: 50%;
                        background-position: 50% 50%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        transform: translateY($info-translateTop);
                        margin: auto;
                    }
                }

                .gift {
                    padding-top: 1rem;

                    &-item {
                        font-weight: 300;

                        &:nth-child(1) {
                            img {
                                width: 6vw;
                            }
                        }

                        &:nth-child(2) {
                            img {
                                width: 5.5vw;
                            }
                        }
                    }
                }

                .gift-item+.gift-item {
                    margin-top: 0.1875rem;
                }

                .quantity {
                    padding-top: 0.75rem;

                    .number {
                        line-height: 1;
                    }
                }


                ul {
                    padding: 0 0.75rem;
                }
            }

            .mid {
                padding-top: 0.3125rem;

                .editor {
                    height: 60px;
                    .edit {
                        p {
                            margin-bottom: 0;
                        }
                    }
                }

                .more-btn {
                    font-size: 0.75rem;
                    color: #ccc;
                }
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        color: #FFF;
        background: #363743;
        border-radius: 1.5625rem 1.5625rem 0 0;
        padding-bottom: 3vh;

        .button {
            flex: 0 0 auto;
            padding: .5rem 1rem 1rem 1rem;

            .nav-item {
                font-size: 0.875rem;

                .nav-link {
                    padding: 0.5rem;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                        width: 0%;
                        height: 0.125rem;
                        display: block;
                        background: #F6D367;
                        transition: width .3s ease-in-out;
                    }

                    &.active {
                        border-radius: 0;
                        background: none;
                        color: #F6D367;
                        position: relative;

                        &::before {
                            width: 80%;
                        }
                    }
                }
            }
        }

        .group {
            flex: 1 1 auto;
            overflow-x: hidden;
            overflow-y: auto;

            >.tab-pane {
                height: 100%;
                overflow-x: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                // min-height: 35vh;
                width: 100%;
                max-width: 100vw;
                align-items: flex-start;
                flex-direction: column;

                // &.active {
                //     display: flex !important;
                // }

                .read {
                    width: 100%;
                    padding: 0 2.1875rem;
                    margin-top: 0.9375rem;

                    &>span {
                        flex: 0 0 auto;
                    }

                    &>div {
                        flex: 1 1 auto;
                        padding: 0 1.25rem;
                    }

                    .birthday,
                    .height,
                    .weight {
                        input {
                            color: #FFF;
                            width: 3.25rem;
                            border: none;
                            background: transparent;
                            text-align: center;
                        }
                    }

                    .tel,
                    .mail,
                    .affection,
                    .language,
                    .education {
                        input {
                            width: 100%;
                            color: #FFF;
                            border: none;
                            background: transparent;
                            text-align: left;
                        }
                    }
                }

                .read:first-child {
                    margin-top: 0;
                }

                .news {
                    padding: 0 2.5rem;

                    .title {
                        font-size: 1.5rem;
                        margin-bottom: 0.9375rem;
                    }

                    li {
                        margin-bottom: 0.9375rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        [class*=icon-] {
                            font-size: 1.5rem;
                        }

                        .img {
                            width: 2.8125rem;
                            height: 2.8125rem;
                            background-position: center center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }

                        .text {
                            flex: 0 0 70%;
                            font-size: 0.75rem;

                            a {
                                color: #F6D367;
                            }

                            span {
                                font-size: 0.625rem;
                            }
                        }
                    }
                }
            }

            .features {
                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    min-height: 33.33333333%;
                    color: #FFF;

                    .menu-link-group {
                        flex: 0 0 auto;

                        img {
                            width: 15vw;
                            display: block;
                            margin: auto;
                            max-width: 15vw;
                            max-height: 15vw;
                        }
                    }
                }
            }
        }

        @media (orientation: landscape) {
            display: block;

            .group {
                .features {
                    a {
                        height: auto;
                        min-height: 33vh;
                    }
                }
            }
        }
    }
}