.postSection {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    border-radius: 1.25rem;
    border: 0.125rem solid $color-yellow;
    margin-bottom: 1.25rem;

    .top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-self: flex-start;

        .avatar {
            width: 2.1875rem;
            height: 2.1875rem;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .name {
            font-size: 0.875rem;
            margin-left: 0.625rem;
        }
    }

    .mid {
        width: 77%;

        .title {
            font-size: 0.875rem;
            margin-bottom: 0.3125rem;
        }

        .img {
            height: 7.5rem;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .icon {
        padding: 0.5rem;

        [class*=icon-] {
            padding: 0 0.1875rem;
            font-size: 1.25rem;
            color: $color-yellow;
        }
    }

    .respond {
        display: block;
        color: #FFF;
        padding: 0.3125rem 0.3125rem 0.3125rem 2.2rem;
        border: 0.125rem solid #FFF;

        &::placeholder {
            color: #FFF;
        }
    }

    .msgGroup {
        width: 100%;

        .message {
            padding-top: 0.5rem;

            .avatar {
                display: block;
                width: 2.1875rem;
                height: 2.1875rem;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .msg {
                flex: 0 0 75%;
                font-size: 0.75rem;

                .name + .time {
                    margin-left: .5rem;
                }

                .time {
                    color: #606060;
                }

                .info {
                    margin-top: 0.25rem;
                    line-height: 1.25;
                }

            }

            .icon-unheart {
                align-self: center;
            }
        }
    }
}