.recordContent {
    .icon {
        position: absolute;
        top: 50%;
        left: 12%;
        transform: translateY(-50%);
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 1.25rem;
    }
}

// .create {
//     .icon {
//         background: url(../images/common/game.svg) no-repeat center center;
//         background-size: cover;
//     }
// }

.map {
    .icon {
        background: url(../images/common/game.svg) no-repeat center center;
        background-size: cover;
    }

    .avatar {
        left: 77%;
        background: url(../images/mapContent/8.jpg) no-repeat center center;
        background-size: cover;
    }
}

.recordContentGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerContent {
        li {
            padding: 0rem 2.5rem;
        }

        .banner {
            height: 10rem;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 0;
        }

        .typeGroup {
            .type {
                margin-left: 0.25rem;
            }
        }

        .contentGroup {
            overflow: hidden;

            .text {
                height: 8rem;
                margin-top: 0.5rem;
                overflow: auto;
            }

        }

        .timeGroup {
            .date {
                margin-left: 0.25rem;
            }

            .time {
                margin-left: 1rem;
            }
        }

        .moneyGroup {
            .money {
                margin-left: 0.25rem;
            }

            .red {
                display: inline-block;
                width: 0.9375rem;
                height: 0.9375rem;
                background: url(../images/common/red.svg) no-repeat center center;
                background-size: contain;
            }
        }



        .peopleGroup {
            a {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .app,
                .add {
                    padding: 1.5625rem;
                }

                .avatar {
                    width: 2.1875rem;
                    height: 2.1875rem;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin-left: -0.625rem;
                }
            }
        }

        .link {
            text-align: right;
        }

        .btnGroup {
            width: 70%;
            bottom: 3.5rem;
        }
    }
}