.register {
    color: #FFF;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background: #9b6abc;
    background: -moz-linear-gradient(top, #22222a 0%, #2a172d 50%, #41274c 66%, #7c4d95 82%, #9b6abc 100%);
    background: -webkit-linear-gradient(top, #22222a 0%, #2a172d 50%, #41274c 66%, #7c4d95 82%, #9b6abc 100%);
    background: linear-gradient(to bottom, #22222a 0%, #2a172d 50%, #41274c 66%, #7c4d95 82%, #9b6abc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b6abc', endColorstr='#22222a', GradientType=0);

    .innerHeader {
        .file {
            text-indent: -99px;
            width: 5rem;
            height: 5rem;
            background: url(../images/register/1.png) no-repeat center center;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            position: relative;

            input[type="file"] {
                opacity: 0;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }

        span {
            margin-top: 0.3125rem;
        }
    }

    .innerContent {
        margin-top: 0.625rem;
        width: auto;
        min-width: 16rem;
        max-width: 80%;

        .form-group {
            &.rounded-pill {
                border: 0.125rem solid #DDD;
                margin-left: -0.625rem;
                margin-right: -0.625rem;

                >[class*="col"] {
                    padding-left: 0.625rem;
                    padding-right: 0.625rem;
                }

            }
        }

        .input {
            background: transparent;
            border: 0;
            padding: 0.3125rem 0.9375rem;
            font-size: 0.875rem;
            color: inherit;

            &::placeholder {
                color: #FFF;
                text-decoration: underline;
            }
        }

        .confirm {
            font-size: 1.25rem;
            padding: 0.875rem 2.5rem;
            background: #F5D267;
            border: 0.0625rem solid #FFF;
            color: #000;
            font-weight: bold;
            margin-top: 1.25rem;
            line-height: 1;
            height: auto;
        }
    }
}