.reviewMember {
    .icon {
        position: absolute;
        top: 50%;
        left: 13%;
        transform: translateY(-50%);
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 1.25rem;
        background-image: url(../images/reviewMember/10.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.reviewMemberGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerContent {
        position: relative;
        padding: 1.25rem 1.875rem;

        &::before {
            content: '';
            position: absolute;
            top: 3.4375rem;
            left: 0;
            display: block;
            width: 100%;
            height: 0.5rem;
            background: rgb(224, 205, 92);
        }

        .group {
            overflow: auto;
            padding: 1.25rem 0 5vh 0;

            .info {
                position: relative;
                padding: 0.3125rem 0;
                margin-bottom: 2.5rem;

                .avatar {
                    width: 2.8125rem;
                    height: 2.8125rem;
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .name {
                    font-size: 1.125rem;
                    padding-left: 0.125rem;
                }

                .status {
                    color: $color-yellow;
                }

                .reviewBtnGroup {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    transform: translateY(-50%);

                    button {
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        padding: 0.0625rem 0.625rem;
                        background: linear-gradient(to bottom, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
                    }

                    button:first-child {
                        margin-right: 0.9375rem;
                    }
                }
            }
        }
    }
}