.searchFriend {
    .icon {
        width: 1.5625rem;
        height: 1.5625rem;
        background: url(../images/common/search.svg) no-repeat center center;
        background-size: contain;
        position: absolute;
        top: 51%;
        right: 6.25rem;
        transform: translateY(-50%);
    }
}

.searchFriendGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerHeader {
        padding: 1.25rem 3.75rem 0 3.75rem;
        position: relative;

        .title {
            text-align: left;
            margin-bottom: 0.625rem;
        }
    }

    .innerContent {
        padding: 5rem;

        .avatar {
            width: 8.75rem;
            height: 8.75rem;
            background: url(../images/search_friend/photo.png) no-repeat center center;
            background-size: cover;
        }

        .name {
            margin: 1.875rem 0 1.25rem 0;
        }

        .personBtn {
            background: $color-orange;
            padding: 0.3125rem 0.5rem;
        }
    }
}