.sidebar-click-btn {
    color: #FFF;
    [class*="icon-"] {
        &:before {
            color: #FFF;
        }
    }
}

header,
.sidebar {
    .header-right {
        position: fixed;
        right: 0.375rem;
        top: auto;
    }
    .header-top-right {
        position: fixed;
        right: 0.375rem;
        top: 1.25rem;
    }
}

.sidebar {
    padding: 3rem 0;
    z-index: 1;
    position: fixed;
    z-index: 998;
    height: 100%;
    max-width: 100%;
    min-width: 180px;
    background: $color-indigo;
    color: #FFF;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.6s ease;
    border-top-left-radius: 20px;
    &-header {
        padding-left: .75rem;
        padding-right: 1.5625rem;
        margin-bottom: 1.25rem;
        .close-button {
            display: block;
            margin-left: auto;
        }
    }
    &-content {
        border-top: solid 2px $color-yellow;
        ul {
            li {
                a {
                    padding: .75rem 2rem;

                }
            }
        }
    }
    .header-user {
        font-size: .75rem;
        & + ul {
            margin-top: 1rem;
        }
        .icon {
            width: 2.5rem;
            height: 2.5rem;
            margin: 0 .25em;
            background: url(../images/common/10.jpg) no-repeat center center;
            background-size: cover;
        }
    }
    ul {
        list-style: none;
      
        li {
            font-size: 1rem;
            a {
                &:active,
                &:focus {
                    color: inherit;
                }
                &.active {
                    background-color: rgba(255,255,255,0.3);
                }
            }
        }
    }
}
  
.sidebar-open {
    .sidebar {
        transform: none;
    }
}