.storedGroup {
    background: $info-bg;
    color: #FFF;
    border: none;

    .innerContent {
        padding: 1.875rem;

        button {
            width: 100%;
            position: relative;
            padding: 0.1875rem 0.3125rem;
            background: #F5D267;
            border-radius: 0.625rem;
            border: 0.0625rem solid #FFF;
            box-shadow: 0 2px 0 rgb(129, 128, 128);
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all .5s;

            .dim {
                width: 2.8125rem;
                height: 2.8125rem;
                background: url(../images/stored/diamond.svg) no-repeat center center;
                background-size: contain;
            }

            .money {
                font-size: 1.125rem;
                font-weight: 600;
                margin-left: 0.9375rem;
            }

            .moneyBtn {
                width: 30%;
                height: auto;
                line-height: 1.5;
                padding: 0.1875rem 0;
                font-size: 0.875rem;
                font-weight: 500;
                text-align: center;
                background: #FF793E;
                border-radius: 0.625rem;
                border: 0.0625rem solid #FFF;
                box-shadow: 0 2px 0 rgb(129, 128, 128);
                transition: all .5s;
            }
        }

        button:active {
            top: 2px;
            box-shadow: 0 0 0 rgb(129, 128, 128);
            transition: all .5s;

            .moneyBtn {
                box-shadow: 0 0 0 rgb(129, 128, 128);
                transition: all .5s;
            }
        }

        li+li {
            margin-top: 1.25rem;
        }
    }
}