.uploadLinkGroup {
    background: $info-bg;
    color: #FFF;
    border: none;
    position: relative;

    .innerContainer {
        padding: 0.625rem 1.875rem;

        label {
            margin: 0;
        }

        input:not([type=submit]) {
            // height: 1.5rem;
            padding: 3px 12px;
        }

        textarea {
            // width: 80%;
            width: 100%;
            height: 9.375rem;
            align-self: flex-end;
        }
    }
}