.uploadPostGroup {
    background: $info-bg;
    color: #FFF;
    border: none;
    position: relative;

    .innerContainer {
        padding: 0.625rem 1.875rem;

        textarea {
            // width: 90%;
            width: 100%;
            height: 9.375rem;
            align-self: flex-end;
        }

        .uploadImgGroup {

            .uploadImg {
                width: 100%;
                height: 8.75rem;
            }
        }
    }
}