.layui-btn-normal {
    background-color: inherit;
    padding-left: 15px;
    padding-right: 15px;
}

/* .layui-layer { */
.layui-layer input,
.layui-layer textarea {
    color: inherit;
    border: solid 1px #000;
    padding: 3px 12px;
    margin: auto;
    display: block;
    background-color: transparent;
}
.layui-layer .layui-layer-btn .layui-layer-btn0 {
    background-color: #F5D267;
    border-color: #F5D267;
}